{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'import.page_title'|trans }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel settings">
            {{ 'import.page_description'|trans }}
            <ul>
                {% for import in imports %}
                    <li>
                        <h5>{{ import.name }}</h5>
                        <blockquote>{{ import.description|trans|raw }}</blockquote>
                        <p><a class="waves-effect waves-light btn" href="{{ path(import.url) }}">{{ 'import.action.import_contents'|trans }}</a></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
