{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<form action="{{ path('fos_user_security_check') }}" method="post" name="loginform">
    <div class="card-content">

        {% if error %}
            <p class="hidden" data-controller="materialize--toast">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}

        {% for flash_message in app.session.flashbag.get('notice') %}
            <p class="hidden" data-controller="materialize--toast">{{ flash_message }}</p>
        {% endfor %}

        <div class="row">

            <div class="input-field col s12">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" autofocus />
            </div>

            <div class="input-field col s12">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" />
            </div>

            <div class="input-field col s12 with-checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                    <span>{{ 'security.login.keep_logged_in'|trans }}</span>
                </label>
            </div>

        </div>
    </div>
    <div class="card-action center">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        {% if registration_enabled %}
            <a href="{{ path('fos_user_registration_register') }}" class="waves-effect waves-light grey btn">{{ 'security.login.register'|trans }}</a>
        {% endif %}
        <button class="btn waves-effect waves-light" type="submit" name="send">
            {{ 'security.login.submit'|trans }}
            <i class="material-icons right">send</i>
        </button>
    </div>
    <div class="card-action center">
        <a href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.forgot_password'|trans }}</a>
    </div>
</form>
{% endblock fos_user_content %}
