{% extends "WallabagUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<form class="form" action="" method="post">
    <fieldset class="w500p center">
        {% for flashMessage in app.session.flashbag.get("two_factor") %}
        <p class="error">{{ flashMessage|trans }}</p>
        {% endfor %}

        <div class="row">
            <label for="_auth_code">{{ "scheb_two_factor.auth_code"|trans }}</label>
            <input id="_auth_code" type="text" autocomplete="off" name="_auth_code" />
        </div>

        {% if useTrustedOption %}
        <div class="row">
            <input id="_trusted" type="checkbox" name="_trusted" />
            <label for="_trusted">{{ "scheb_two_factor.trusted"|trans }}</label>
        </div>
        {% endif %}

        <div class="row mts txtcenter">
            <a href="{{ path('fos_user_security_logout') }}" class="waves-effect waves-light grey btn"><i class="material-icons left"></i> {% trans %}Cancel{% endtrans %}</a>
            <button type="submit" name="send">
                {{ "scheb_two_factor.login"|trans }}
                <i class="mdi-content-send right"></i>
            </button>
        </div>
    </fieldset>

</form>
{% endblock %}
