{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="card-content">
        <div class="row">
            <p>{{ 'security.resetting.description'|trans({}, "messages") }}</p>

            {% for flash_message in app.session.flashbag.get('notice') %}
                <span class="black-text"><p>{{ flash_message }}</p></span>
            {% endfor %}

            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}

            <div class="input-field col s12">
                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                <input type="text" id="username" name="username" required="required" />
            </div>
        </div>
    </div>
    <div class="card-action center">
        <a href="{{ path('fos_user_security_login') }}" class="waves-effect waves-light grey btn">
            {{ 'security.login.submit'|trans({}, "messages") }}
        </a>
        <button class="btn waves-effect waves-light" type="submit" name="send">
            {{ 'resetting.request.submit'|trans }}
        </button>
    </div>
</form>
