{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
        <form action="{{ path('fos_user_security_check') }}" method="post" name="loginform">
            <fieldset class="w500p center">
                <h2 class="mbs txtcenter">{% trans %}Login to wallabag{% endtrans %}</h2>
                {% if error %}
                    <div>{{ error.message }}</div>
                {% endif %}

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <p>{{ flashMessage }}</p>
                {% endfor %}

                <div class="row">
                    <label class="col w150p" for="username">{% trans %}Username{% endtrans %}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>

                <div class="row">
                    <label class="col w150p" for="password">{% trans %}Password{% endtrans %}</label>
                    <input type="password" id="password" name="_password" />
                </div>

                <div class="row mts txtcenter">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <button type="submit">Login</button>
                    <a href="{{ path('fos_user_registration_register') }}" class="button">{% trans %}Register{% endtrans %}</a>
                    <a href="{{ path('fos_user_resetting_request') }}" class="small">Forgot your password?</a>
                </div>
            </fieldset>
        </form>
{% endblock %}
