{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'apps.old_client.parameters.page_title'|trans }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel settings">
            <div class="row">
                <p>{{ 'apps.old_client.parameters.page_description'|trans }}</p>
                <ul>
                    <li>{{ 'apps.old_client.parameters.field_name'|trans }}: <strong><pre>{{ client_name }}</pre></strong></li>
                    <li>{{ 'apps.old_client.parameters.field_id'|trans }}: <strong><pre>{{ client_id }}</pre></strong></li>
                    <li>{{ 'apps.old_client.parameters.field_secret'|trans }}: <strong><pre>{{ client_secret }}</pre></strong></li>
                </ul>

                <a href="{{ path('apps') }}" class="waves-effect waves-light grey btn">{{ 'apps.old_client.parameters.back'|trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
