{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'tag.page_title'|trans }}{% endblock %}

{% block content %}
    <div class="results">
        <div class="nb-results">{{ 'tag.list.number_on_the_page'|transchoice(tags.count) }}</div>
    </div>

    <ul>
    {% for tag in tags %}
        <li id="tag-{{ tag.id|e }}">{{tag.label}} ({{ tag.entries.getValues | length }})</li>
    {% endfor %}
    </ul>
{% endblock %}
