{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'tag.page_title'|trans }}{% endblock %}

{% block content %}
    <div class="results">
        <div class="nb-results">{{ 'tag.list.number_on_the_page'|transchoice(tags|length) }}</div>
    </div>

    <ul>
    {% for tag in tags %}
        <li id="tag-{{ tag.id|e }}">
            <a href="{{ path('tag_entries', {'slug': tag.slug}) }}" data-handle="tag-link">{{ tag.label }}&nbsp;({{ tag.nbEntries }})</a>

            {% if renameForms is defined and renameForms[tag.id] is defined %}
            <form class="card-tag-form hidden" data-handle="tag-rename-form" action="{{ path('tag_rename', {'slug': tag.slug})}}" method="POST">
                {{ form_widget(renameForms[tag.id].label, {'attr': {'value': tag.label}}) }}
                {{ form_rest(renameForms[tag.id]) }}
            </form>
            <a class="card-tag-rename" data-handler="tag-rename" href="javascript:void(0);">
                <i class="material-icons">mode_edit</i>
            </a>
            {% endif %}
            {% if app.user.config.feedToken %}
                <a rel="alternate" type="application/atom+xml" href="{{ path('tag_feed', {'username': app.user.username, 'token': app.user.config.feedToken, 'slug': tag.slug}) }}" class="right">
                    <i class="material-icons md-24">rss_feed</i>
                </a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <div>
        {% if nbEntriesUntagged == 0 %}
            {{ 'tag.list.no_untagged_entries'|trans }}
        {% else %}
            <a href="{{ path('untagged') }}">{{ 'tag.list.see_untagged_entries'|trans }} ({{nbEntriesUntagged}})</a>
        {% endif %}
    </div>
{% endblock %}
