{% trans_default_domain 'FOSUserBundle' %}

{{ form_errors(form) }}
{{ form_widget(form._token) }}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <span><p>{{ flashMessage }}</p></span>
{% endfor %}

<div class="row">
    {{ form_errors(form.email) }}
    <label for="fos_user_registration_form_email">{% trans %}Email{% endtrans %}</label>
    <input type="text" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" />
</div>

<div class="row">
    {{ form_errors(form.username) }}
    <label for="fos_user_registration_form_username">{% trans %}Username{% endtrans %}</label>
    <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" />
</div>

<div class="row">
    {{ form_errors(form.plainPassword.first) }}
    <label for="fos_user_registration_form_plainPassword_first">{% trans %}Password{% endtrans %}</label>
    <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" />
</div>

<div class="row">
    {{ form_errors(form.plainPassword.second) }}
    <label for="fos_user_registration_form_plainPassword_second">{% trans %}Repeat password{% endtrans %}</label>
    <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" />
</div>


<div class="row mts txtcenter">
    <button type="submit">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
    <a href="{{ path('fos_user_security_login') }}" class="button">{% trans %}Login{% endtrans %}</a>
</div>
