{% trans_default_domain 'FOSUserBundle' %}

{{ form_widget(form._token) }}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <span><p>{{ flashMessage }}</p></span>
{% endfor %}

<div class="row">
    {{ form_errors(form.email) }}
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
</div>

<div class="row">
    {{ form_errors(form.username) }}
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
</div>

<div class="row">
    {{ form_errors(form.plainPassword.first) }}
    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }}
</div>

<div class="row">
    {{ form_errors(form.plainPassword.second) }}
    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}
</div>


<div class="row mts txtcenter">
    <button type="submit">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
    <a href="{{ path('fos_user_security_login') }}" class="button">{% trans %}Login{% endtrans %}</a>
</div>
