{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{% trans %}Forgot password{% endtrans %}{% endblock %}

{% block body_class %}login{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
        <form action="{{ path('forgot_password') }}" method="post" name="forgotPasswordform">
            <fieldset class="w500p center">
                <h2 class="mbs txtcenter">{% trans %}Forgot password{% endtrans %}</h2>

                {{ form_errors(form) }}

                <p>Enter your email address below and we'll send you password reset instructions.</p>

                <div class="row">
                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>

                <div class="row mts txtcenter">
                    <button type="submit">Send me reset instructions</button>
                </div>
            </fieldset>

            {{ form_rest(form) }}
        </form>
{% endblock %}
