{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{% trans %}Change password{% endtrans %}{% endblock %}

{% block body_class %}login{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
        <form action="{{ path('forgot_password_reset', {'token': token}) }}" method="post" name="loginform">
            <fieldset class="w500p center">
                <h2 class="mbs txtcenter">{% trans %}Change password{% endtrans %}</h2>

                {{ form_errors(form) }}

                <div class="row">
                    {{ form_label(form.new_password.first) }}
                    {{ form_errors(form.new_password.first) }}
                    {{ form_widget(form.new_password.first) }}
                </div>

                <div class="row">
                    {{ form_label(form.new_password.second) }}
                    {{ form_errors(form.new_password.second) }}
                    {{ form_widget(form.new_password.second) }}
                </div>

                <div class="row mts txtcenter">
                    <button type="submit">Change password</button>
                </div>
            </fieldset>

            {{ form_rest(form) }}
        </form>
{% endblock %}
