{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'notifications.list.page_title' | trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col l6 offset-l3">
            <ul class="collection">
            {% for notification in notifications | slice(0, 10) %}
                <li class="collection-item avatar{% if not notification.read %} light-blue lighten-5{% else %} grey-text{% endif %}">
                    <i class="material-icons circle">{% spaceless %}
                            {% if notification.type == constant('TYPE_ADMIN', notification) %}
                                build
                            {% elseif notification.type == constant('TYPE_USER', notification) %}
                                person
                            {% elseif notification.type == constant('TYPE_RELEASE', notification) %}
                                new_releases
                            {% endif %}
                        {% endspaceless %}</i>
                    <span class="title">{{ notification.title }}</span>
                    <p><em>{{ notification.timestamp | date }}</p>
                    <div class="secondary-content">
                        {% for action in notification.actions %}
                            <a class="btn waves-effect waves-light {% spaceless %}
                               {% if action.type == constant('TYPE_OK', action) %}
                               {% elseif action.type == constant('TYPE_YES', action) %}
                                    cyan
                               {% elseif action.type == constant('TYPE_NO', action) %}
                                    red
                               {% elseif action.type == constant('TYPE_INFO', action) %}
                                    blue-grey
                               {% endif %}
                                {% endspaceless %}" href="{{ action.link }}">{{ action.label }}</a>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
            </ul>
            <a href="{{ path('notification-archive-all') }}" class="btn waves-effect waves-light ">{{ 'notifications.list.mark_all_as_read' | trans }}</a>
        </div>
    </div>
{% endblock %}
