<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ entry.title|e|raw }}</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta property="og:title" content="{{ entry.title|e|raw }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        {% set picture_path = app.request.schemeAndHttpHost ~ asset('img/logo-wallabag.svg') %}
        {% if entry.previewPicture is not null %}
            {% set picture_path = entry.previewPicture %}
        {% endif %}
        <meta property="og:image" content="{{ picture_path }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:image" content="{{ picture_path }}" />
        <meta name="twitter:site" content="@wallabagapp" />
        <meta name="twitter:title" content="{{ entry.title|e|raw }}" />
        <meta name="twitter:description" content="{{ entry.content|striptags|slice(0, 300)|raw }}&hellip;" />

        {{ encore_entry_link_tags('public') }}
    </head>
    <body>
        <header class="block">
            <h1>{{ entry.title|e|raw }}</h1>
            <a href="{{ entry.url|e }}" target="_blank" rel="noopener" title="{{ 'entry.view.original_article'|trans }} : {{ entry.title|e|raw }}" class="tool">{{ entry.domainName|removeWww }}</a>
            <p class="shared-by">{{ "entry.public.shared_by_wallabag"|trans({'%wallabag_instance%': url('homepage'), '%username%': entry.user.name|escape})|raw }}.</p>
        </header>
        <article class="block">
            {{ entry.content|raw }}
        </article>
    </body>
</html>
