{% extends "layout.html.twig" %}

{% block title %}{{ 'security.login.page_title'|trans }}{% endblock %}

{% block body_class %}login{% endblock %}

{% block menu %}{% endblock %}
{% block messages %}{% endblock %}

{% block content %}
<main class="valign-wrapper">
    <div class="valign row">
        <div class="card sw">
            <div class="center"><img src="{{ asset('img/logo-wallabag.svg') }}" class="typo-logo" alt="wallabag logo" /></div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        <div class="center">
            <a href="{{ path('changeLocale', {'language': 'de'}) }}">Deutsch</a> –
            <a href="{{ path('changeLocale', {'language': 'en'}) }}">English</a> –
            <a href="{{ path('changeLocale', {'language': 'fr'}) }}">Français</a>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
