{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'howto.page_title'|trans }}{% endblock %}

{% block content %}
    <h2>{{ 'howto.page_title'|trans }}</h2>

    <p>{{ 'howto.page_description'|trans }}</p>
    <ul>
        <li><a href="{{ path('new') }}">{{ 'howto.form.description'|trans }}</a></li>
    </ul>
    <h3>{{ 'howto.top_menu.browser_addons'|trans }}</h3>
    <ul>
        <li><a href="https://addons.mozilla.org/firefox/addon/wallabag/" target="_blank">{{ 'howto.browser_addons.firefox'|trans }}</a></li>
        <li><a href="https://chrome.google.com/webstore/detail/wallabag/bepdcjnnkglfjehplaogpoonpffbdcdj" target="_blank">{{ 'howto.browser_addons.chrome'|trans }}</a></li>
    </ul>
    <h3>{{ 'howto.top_menu.mobile_apps'|trans }}</h3>
    <ul>
        <li>Android: <a href="https://f-droid.org/app/fr.gaulupeau.apps.InThePoche" target="_blank">{{ 'howto.mobile_apps.android.via_f_droid'|trans }}</a> / <a href="https://play.google.com/store/apps/details?id=fr.gaulupeau.apps.InThePoche" target="_blank">{{ 'howto.mobile_apps.android.via_google_play'|trans }}</a></li>
        <li>iOS: <a href="https://itunes.apple.com/app/wallabag/id828331015?mt=8" target="_blank">{{ 'howto.mobile_apps.ios'|trans }}</a></li>
        <li>Windows Phone: <a href="http://www.windowsphone.com/en-US/store/app/wallabag/d5226cf1-f422-4e00-996c-88e9c5233332" target="_blank">{{ 'howto.mobile_apps.windows'|trans }}</a></li>
    </ul>
    <h3>{{ 'howto.top_menu.bookmarklet'|trans }}</h3>
    <p>
    {{ 'howto.bookmarklet.description'|trans }}
    {% include 'WallabagCoreBundle::_bookmarklet.html.twig' %}

{% endblock %}
