{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'quickstart.page_title'|trans }}{% endblock %}

{% block content %}

    <h3>{{ 'quickstart.intro.title'|trans }}</h3>
    <p>{{ 'quickstart.intro.paragraph_1'|trans }}</p>
    <p>{{ 'quickstart.intro.paragraph_2'|trans }}</p>

    <h4>{{ 'quickstart.configure.title'|trans }}</h4>
    <ul>
        <li><a href="{{ path('config') }}">{{ 'quickstart.configure.language'|trans }}</a></li>
        <li><a href="{{ path('config') }}#set2">{{ 'quickstart.configure.rss'|trans }}</a></li>
        <li><a href="{{ path('config') }}#set5">{{ 'quickstart.configure.tagging_rules'|trans }}</a></li>
    </ul>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <h4>{{ 'quickstart.admin.title'|trans }}</h4>
    <p>{{ 'quickstart.admin.description'|trans }}</p>
    <ul>
        <li><a href="{{ path('config') }}#set6">{{ 'quickstart.admin.new_user'|trans }}</a></li>
        <li><a href="{{ path('craue_config_settings_modify') }}#set-analytics">{{ 'quickstart.admin.analytics'|trans }}</a></li>
        <li><a href="{{ path('craue_config_settings_modify') }}#set-entry">{{ 'quickstart.admin.sharing'|trans }}</a></li>
        <li><a href="{{ path('craue_config_settings_modify') }}#set-export">{{ 'quickstart.admin.export'|trans }}</a></li>
        <li><a href="{{ path('craue_config_settings_modify') }}#set-import">{{ 'quickstart.admin.import'|trans }}</a></li>
    </ul>
    {% endif %}

    <h4>{{ 'quickstart.first_steps.title'|trans }}</h4>
    <ul>
        <li><a href="{{ path('new') }}">{{ 'quickstart.first_steps.new_article'|trans }}</a></li>
        <li><a href="{{ path('unread') }}">{{ 'quickstart.first_steps.unread_articles'|trans }}</a></li>
    </ul>

    <h4>{{ 'quickstart.migrate.title'|trans }}</h4>
    <p>{{ 'quickstart.migrate.description'|trans }}</p>
    <ul>
        <li><a href="{{ path('import_pocket') }}">{{ 'quickstart.migrate.pocket'|trans }}</a></li>
        <li><a href="{{ path('import_wallabag_v1') }}">{{ 'quickstart.migrate.wallabag_v1'|trans }}</a></li>
        <li><a href="{{ path('import_wallabag_v2') }}">{{ 'quickstart.migrate.wallabag_v2'|trans }}</a></li>
    </ul>

    <h4>{{ 'quickstart.developer.title'|trans }}</h4>
    <ul>
        <li><a href="{{ path('developer') }}">{{ 'quickstart.developer.create_application'|trans }}</a></li>
    </ul>

    <h4>{{ 'quickstart.docs.title'|trans }}</h4>
    <ul>
        <li><a href="http://doc.wallabag.org/en/v2/user/annotations.html">{{ 'quickstart.docs.annotate'|trans }}</a></li>
        <li><a href="http://doc.wallabag.org/en/v2/user/download_articles.html">{{ 'quickstart.docs.export'|trans }}</a></li>
        <li><a href="http://doc.wallabag.org/en/v2/user/filters.html">{{ 'quickstart.docs.search_filters'|trans }}</a></li>
        <li><a href="http://doc.wallabag.org/en/v2/user/errors_during_fetching.html">{{ 'quickstart.docs.fetching_errors'|trans }}</a></li>
        <li><a href="http://doc.wallabag.org/">{{ 'quickstart.docs.all_docs'|trans }}</a></li>
    </ul>

    <h4>{{ 'quickstart.support.title'|trans }}</h4>
    <p>{{ 'quickstart.support.description'|trans }}</p>
    <ul>
        <li><a href="https://github.com/wallabag/wallabag/issues/">{{ 'quickstart.support.github'|trans }}</a></li>
        <li><a href="mailto:hello@wallabag.org">{{ 'quickstart.support.email'|trans }}</a></li>
        <li><a href="https://gitter.im/wallabag/wallabag">{{ 'quickstart.support.gitter'|trans }}</a></li>
    </ul>

{% endblock %}
