{% extends "layout.twig" %}

{% block title %}{% trans "config" %}{% endblock %}
{% block menu %}
{% include '_menu.twig' %}
{% endblock %}
{% block content %}
            <h2>{% trans "Saving articles" %}</h2>
            <p>{% trans "There are several ways to save an article:" %} (<a href="http://doc.wallabag.org/" title="{% trans "read the documentation" %}">?</a>)</p>
            <ul>
                <li>Firefox: <a href="https://addons.mozilla.org/firefox/addon/wallabag/" title="download the firefox extension">{% trans "download the extension" %}</a></li>
                <li>Chrome: <a href="http://doc.wallabag.org/doku.php?id=users:chrome_extension" title="download the chrome extension">{% trans "download the extension" %}</a></li>
                <li>Android: <a href="https://f-droid.org/app/fr.gaulupeau.apps.InThePoche" title="download the application">{% trans "via F-Droid" %}</a> {% trans " or " %} <a href="https://play.google.com/store/apps/details?id=fr.gaulupeau.apps.InThePoche" title="download the application">{% trans "via Google Play" %}</a></li>
                <li>iOS: <a href="https://itunes.apple.com/app/wallabag/id828331015?mt=8" title="download the iOS application">{% trans "download the application" %}</a></li>
                <li>Windows Phone: <a href="http://www.windowsphone.com/en-us/store/app/wallabag/ff890514-348c-4d0b-9b43-153fff3f7450" title="download the window phone application">{% trans "download the application" %}</a></li>
                <li>
                    <form method="get" action="index.php">
                        <label class="addurl" for="config_plainurl">{% trans "By filling this field" %}:</label>
                        <input required placeholder="example.com/article" class="addurl" id="config_plainurl" name="plainurl" type="url" />
                        <input type="submit" value="{% trans "bag it!" %}" />
                    </form>
                </li>
                <li>{% trans "Bookmarklet: drag & drop this link to your bookmarks bar" %} <a id="bookmarklet" ondragend="this.click();" title="i am a bookmarklet, use me !" href="javascript:if(top['bookmarklet-url@wallabag.org']){top['bookmarklet-url@wallabag.org'];}else{(function(){var%20url%20=%20location.href%20||%20url;window.open('{{ poche_url }}?action=add&url='%20+%20btoa(url),'_self');})();void(0);}">{% trans "bag it!" %}</a></li>
            </ul>

            <h2>{% trans "Upgrading wallabag" %}</h2>
            <ul>
                <li>{% trans "Installed version" %} : <strong>{{ constant('POCHE') }}</strong></li>
                <li>{% trans "Latest stable version" %} : {{ prod }}. {% if compare_prod == -1 %}<strong><a href="http://wallabag.org/">{% trans "A more recent stable version is available." %}</a></strong>{% else %}{% trans "You are up to date." %}{% endif %} ({% trans "Last check:" %} {{ check_time_prod }})</li>
                {% if constant('DEBUG_POCHE') == 1 %}<li>{% trans "Latest dev version" %} : {{ dev }}. {% if compare_dev == -1 %}<strong><a href="http://wallabag.org/">{% trans "A more recent development version is available." %}</a></strong>{% else %}{% trans "You are up to date." %}{% endif %} ({% trans "Last check:" %} {{ check_time_dev }}){% endif %}</li>
            </ul>
            <p>{% trans "You can clear cache to check the latest release." %}</p>

            <h2>{% trans "Feeds" %}</h2>
            {% if token == '' %}
                <p>{% trans "Your feed token is currently empty and must first be generated to enable feeds. Click <a href='?feed&amp;action=generate'>here to generate it</a>." %}</p>
            {% else %}
            <ul>
                <li><a href="?feed&amp;type=home&amp;user_id={{ user_id }}&amp;token={{ token }}" target="_blank">{% trans "Unread feed" %}</a></li>
                <li><a href="?feed&amp;type=fav&amp;user_id={{ user_id }}&amp;token={{ token }}" target="_blank">{% trans "Favorites feed" %}</a></li>
                <li><a href="?feed&amp;type=archive&amp;user_id={{ user_id }}&amp;token={{ token }}" target="_blank">{% trans "Archive feed" %}</a></li>
            </ul>
            <p>{% trans "Your token:" %} <strong>{{token}}</strong></p>
            <p>{% trans "Your user id:" %} <strong>{{user_id}}</strong></p>
            <p>{% trans "You can regenerate your token: <a href='?feed&amp;action=generate'>generate!</a>." %}</p>
            {% endif %}

            <h2>{% trans "Change your theme" %}</h2>
            <form method="post" action="?updatetheme" name="changethemeform">
                <fieldset class="w500p inline">
                    <div class="row">
                        <label class="col w150p" for="theme">{% trans "Theme:" %}</label>
                        <select class="col" id="theme" name="theme">
                            {% for key, theme in themes %}
                            <option value="{{ key }}" {{ theme.current ? 'selected' : '' }}>{{ theme.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row mts txtcenter">
                        <button class="bouton" type="submit" tabindex="4">{% trans "Update" %}</button>
                    </div>
                </fieldset>
                <input type="hidden" name="returnurl" value="{{ referer }}">
                <input type="hidden" name="token" value="{{ token }}">
            </form>

            <h2>{% trans "Change your language" %}</h2>
            <form method="post" action="?updatelanguage" name="changelanguageform">
                <fieldset class="w500p inline">
                    <div class="row">
                        <label class="col w150p" for="language">{% trans "Language:" %}</label>
                        <select class="col" id="language" name="language">
                            {% for language in languages %}
                            <option value="{{ language.value }}" {{ language.current ? 'selected' : '' }}>{{ language.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row mts txtcenter">
                        <button class="bouton" type="submit" tabindex="4">{% trans "Update" %}</button>
                    </div>
                </fieldset>
                <input type="hidden" name="returnurl" value="{{ referer }}">
                <input type="hidden" name="token" value="{{ token }}">
            </form>

            {% if http_auth == 0 %}
            <h2>{% trans "Change your password" %}</h2>
            <form method="post" action="?config" name="loginform">
                <fieldset class="w500p">
                    <div class="row">
                        <label class="col w150p" for="password">{% trans "New password:" %}</label>
                        <input class="col" type="password" id="password" name="password" placeholder="{% trans "Password" %}" tabindex="2">
                    </div>
                    <div class="row">
                        <label class="col w150p" for="password_repeat">{% trans "Repeat your new password:" %}</label>
                        <input class="col" type="password" id="password_repeat" name="password_repeat" placeholder="{% trans "Password" %}" tabindex="3">
                    </div>
                    <div class="row mts txtcenter">
                        <button class="bouton" type="submit" tabindex="4">{% trans "Update" %}</button>
                    </div>
                </fieldset>
                <input type="hidden" name="returnurl" value="{{ referer }}">
                <input type="hidden" name="token" value="{{ token }}">
            </form>
            {% endif %}

            <h2>{% trans "Import" %}</h2>
            <p>{% trans "You can import your Pocket, Readability, Instapaper, Wallabag or any data in appropriate json or html format." %}</p>
            <p>{% trans "Please select export file on your computer and press \"Import\" button below.<br>Wallabag will parse your file, insert all URLs and start fetching of articles if required.<br>Fetching process is controlled by two constants in your config file: IMPORT_LIMIT (how many articles are fetched at once) and IMPORT_DELAY (delay between fetch of next batch of articles)." %}</p>
            <form method="post" action="?import" name="uploadfile" enctype="multipart/form-data">
                <fieldset class="w500p">
                    <div class="row">
                        <label class="col w150p" for="file">{% trans "File:" %}</label>
                        <input class="col" type="file" id="file" name="file" tabindex="4">
                    </div>
                    <div class="row mts txtcenter">
                        <button class="bouton" type="submit" tabindex="4">{% trans "Import" %}</button>
                    </div>
                </fieldset>
            </form>
            <p><a href="?import">{% trans "You can click here to fetch content for articles with no content." %}</a></p>
            
            <h2>{% trans "Export your wallabag data" %}</h2>
            {% if constant('STORAGE') == 'sqlite' %}
            <p><a href="?download" target="_blank">{% trans "Click here" %}</a> {% trans "to download your database." %}</p>{% endif %}
            <p><a href="?export" target="_blank">{% trans "Click here" %}</a> {% trans "to export your wallabag data." %}</p>

            <h2>{% trans "Cache" %}</h2>
            <p><a href="?empty-cache">{% trans "Click here" %}</a> {% trans "to delete cache." %}</p>

{% endblock %}
