{% extends "layout.twig" %}
{% block title %}edit tags{% endblock %}
{% block menu %}
{% include '_menu.twig' %}
{% endblock %}
{% block content %}

<script src="{{ poche_url }}themes/default/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="{{ poche_url }}themes/default/js/autoCompleteTags.js"></script>
<link rel="stylesheet" href="{{ poche_url }}themes/default/css/jquery-ui-1.10.4.custom.min.css" media="all">

<div id="article">
  <h2>{{ entry.title|raw }}</21>
</div>
{% if tags is empty %}
<div class="notags">no tags</div>
{% endif %}
<ul>
{% for tag in tags %}<li>{{ tag.value }} <a href="./?action=remove_tag&amp;tag_id={{ tag.id }}&amp;id={{ entry_id }}">✘</a></li>{% endfor %}
</ul>
<form method="post" action="./?action=add_tag">
    <input type="hidden" name="entry_id" value="{{ entry_id }}" />
    <label for="value">Add tags: </label><input type="text" placeholder="interview, editorial, video" id="value" name="value" required="required" />
    <input type="submit" value="Tag" />
    <p>{% trans "Start typing for auto complete." %}<br>
    {% trans "You can enter multiple tags, separated by commas." %}</p>
</form>
<a class="icon icon-reply return" href="./?view=view&id={{ entry_id }}">{% trans "return to article" %}</a>
{% endblock %}
