{% extends "layout.twig" %}
{% block title %}
{% if view == 'fav' %}
{% trans "favorites" %}
{% elseif view == 'archive' %}
{% trans "archive" %}
{% else %}
{% trans "unread" %}
{% endif %}
{% endblock %}
{% block menu %}
{% include '_menu.twig' %}
{% endblock %}
{% block content %}
            {% if tag %}
                <h3>{% trans "Tag" %}: <b>{{ tag.value }}</b></h3>
            {% endif %}
            {% if entries is empty %}
            <div class="messages warning"><p>{% trans "No articles found." %}</p></div>
            {% else %}
                 <div>
                     {% include '_display-mode.twig' %}
                     {% include '_sorting.twig' %}
                 </div>
                {% block pager %}
                    {% if nb_results > 1 %}
                <div class="results">
                    <div class="nb-results">{{ nb_results }} {% trans "results" %}{% if search_term is defined %}{% trans " found for « " %} {{ search_term }} »{% endif %}</div>
                        {{ page_links | raw }}
                </div>
                    {% elseif nb_results == 1 %}
                        {% if search_term is defined %}
                     <div class="results">
                        <div class="nb-results">{% trans "Only one result found for " %} « {{ search_term }} »</div>
                     </div>
                        {% endif %}
                    {% endif %}
                {% endblock %}
            <div id="list-entries" class="list-entries">
                    {% for entry in entries %}
                <div id="entry-{{ entry.id|e }}" class="entrie"{% if listmode %} style="width:100%; margin-left:0;"{% endif %}>
                    <h2><a href="index.php?view=view&amp;id={{ entry.id|e }}">{{ entry.title|raw }}</a></h2>
                    {% if entry.content| getReadingTime > 0 %}
                        <div class="estimatedTime"><a target="_blank" title="{% trans "estimated reading time:" %} {{ entry.content| getReadingTime }} min" class="tool reading-time"><span>{% trans "estimated reading time :" %} {{ entry.content| getReadingTime }} min</span></div>
                    {% else %}
                        <div class="estimatedTime"><a target="_blank" title="{% trans "estimated reading time:" %} {{ entry.content| getReadingTime }} min" class="tool reading-time"><span>{% trans "estimated reading time :" %} <small class="inferieur"><</small> 1 min</span></div>
                    {% endif %}
                    <ul class="tools links">
                        <li><a title="{% trans "Toggle mark as read" %}" class="tool icon-check icon {% if entry.is_read == 0 %}archive-off{% else %}archive{% endif %}" href="./?action=toggle_archive&amp;id={{ entry.id|e }}"><span>{% trans "Toggle mark as read" %}</span></a></li>
                        <li><a title="{% trans "toggle favorite" %}" class="tool icon-star icon {% if entry.is_fav == 0 %}fav-off{% else %}fav{% endif %}" href="./?action=toggle_fav&amp;id={{ entry.id|e }}"><span>{% trans "toggle favorite" %}</span></a></li>
                        <li><a title="{% trans "delete" %}" class="tool delete icon-trash icon" href="./?action=delete&amp;id={{ entry.id|e }}"><span>{% trans "delete" %}</span></a></li>
                        <li><a href="{{ entry.url|e }}" target="_blank" title="{% trans "original" %} : {{ entry.title|e }}" class="tool link icon-link icon"><span>{{ entry.url | e | getDomain }}</span></a></li>
                    </ul>
                    <p>{{ entry.content|striptags|slice(0, 300) }}...</p>
                </div>

                {% endfor %}
            </div>
            {% if view == 'home' %}{% if nb_results > 1 %}<a title="{% trans "Mark all the entries as read" %}"  href="./?action=archive_all">{{ "Mark all the entries as read" }}</a>{% endif %}{% endif %}
            {% endif %}
            {{ block('pager') }}
{% endblock %}
