{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'user.page_title'|trans }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <p class="help">{{ 'user.description'|trans|raw }}</p>

                        <table class="bordered">
                            <thead>
                                <tr>
                                    <th>{{ 'user.form.username_label'|trans }}</th>
                                    <th>{{ 'user.form.email_label'|trans }}</th>
                                    <th>{{ 'user.form.last_login_label'|trans }}</th>
                                    <th>{{ 'user.form.locked_label'|trans }}</th>
                                    <th>{{ 'user.list.actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{% if user.locked %}{{ 'user.list.yes'|trans }}{% else %}{{ 'user.list.no'|trans }}{% endif %}</td>
                                    <td>
                                        <a href="{{ path('user_edit', { 'id': user.id }) }}">{{ 'user.list.edit_action'|trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br />
                        <p>
                            <a href="{{ path('user_new') }}" class="waves-effect waves-light btn">{{ 'user.list.create_new_one'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
