<!DOCTYPE html>
<!--[if lte IE 6]><html class="no-js ie6 ie67 ie678" lang="en"><![endif]-->
<!--[if lte IE 7]><html class="no-js ie7 ie67 ie678" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 ie678" lang="en"><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en"><![endif]-->
<html lang="fr">
    <head>
        {% block head %}
            <meta name="viewport" content="initial-scale=1.0">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=10">
            <![endif]-->

            <link rel="apple-touch-icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-152.png') }}" sizes="152x152">
            <link rel="icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-152.png') }}" sizes="152x152">

            <link rel="apple-touch-icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-144.png') }}" sizes="144x144">
            <link rel="icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-144.png') }}" sizes="144x144">

            <link rel="apple-touch-icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-120.png') }}" sizes="120x120">
            <link rel="icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-120.png') }}" sizes="120x120">

            <link rel="apple-touch-icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-114.png') }}" sizes="114x114">
            <link rel="icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-114.png') }}" sizes="114x114">

            <link rel="apple-touch-icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-76.png') }}" sizes="76x76">
            <link rel="icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-76.png') }}" sizes="76x76">

            <link rel="apple-touch-icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-72.png') }}" sizes="72x72">
            <link rel="icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-72.png') }}" sizes="72x72">

            <link rel="apple-touch-icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-57.png') }}" sizes="57x57">
            <link rel="icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon-57.png') }}" sizes="57x57">

            <link rel="apple-touch-icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon.png') }}">
            <link rel="icon" type="image/png" href="{{ asset('themes/_global/img/appicon/apple-touch-icon.png') }}">

            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('themes/_global/img/appicon/favicon.ico') }}">

            {% block css %}{% endblock %}
            {% block scripts %}
                <script src="{{ asset('themes/_global/js/jquery-2.0.3.min.js') }}"></script>
                <script src="{{ asset('themes/_global/js/autoClose.js') }}"></script>
                <script src="{{ asset('themes/_global/js/saveLink.js') }}"></script>
                <script src="{{ asset('themes/_global/js/popupForm.js') }}"></script>
                <script src="{{ asset('themes/_global/js/jquery.cookie.js') }}"></script>
                <script src="{{ asset('themes/_global/js/bookmarklet.js') }}"></script>
                <script src="{{ asset('themes/_global/js/closeMessage.js') }}"></script>
            {% endblock %}

            <title>{% block title %}{% endblock %} - wallabag</title>
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% block header %}
        {% endblock %}

        <div id="main">
            {% block menu %}
                <nav class="cyan darken-1">
                    <ul id="slide-out" class="side-nav fixed">
                        {% block logo %}
                            <li class="logo border-bottom">
                                <a class="waves-effect" title="{% trans %}Back to unread articles{% endtrans %}" href="{{ path('unread') }}">
                                    <img src="{{ asset('themes/baggy/img/logo-other_themes.png') }}" alt="wallabag logo" />
                                </a>
                            </li>
                        {% endblock %}

                        {% set currentRoute = app.request.attributes.get('_route') %}

                        <li class="bold {% if currentRoute == 'unread' or currentRoute == 'homepage' %}active{% endif %}"><a class="waves-effect" href="{{ path('unread') }}">{% trans %}unread{% endtrans %}</a></li>
                        <li class="bold {% if currentRoute == 'starred' %}active{% endif %}"><a class="waves-effect" href="{{ path('starred') }}">{% trans %}favorites{% endtrans %}</a></li>
                        <li class="bold {% if currentRoute == 'archive' %}active{% endif %}"><a class="waves-effect" href="{{ path('archive') }}">{% trans %}archive{% endtrans %}</a></li>
                        <li class="bold border-bottom {% if currentRoute == 'tags' %}active{% endif %}"><a class="waves-effect" href="?view=tags">{% trans %}tags{% endtrans %}</a></li>
                        <li class="bold {% if currentRoute == 'config' %}active{% endif %}"><a class="waves-effect" href="{{ path('config') }}">{% trans %}config{% endtrans %}</a></li>
                        <li class="bold {% if currentRoute == 'howto' %}active{% endif %}"><a class="waves-effect" href="{{ path('howto') }}">{% trans %}howto{% endtrans %}</a></li>
                        <li class="bold"><a class="waves-effect" class="icon icon-power" href="{{ path('logout') }}" title="{% trans %}logout{% endtrans %}">{% trans %}logout{% endtrans %}</a></li>
                    </ul>
                    <div class="nav-wrapper nav-panels">
                        <a href="#" data-activates="slide-out" class="nav-panel-menu button-collapse"><i class="mdi-navigation-menu"></i></a>
                        <div class="input-field nav-panel-buttom">
                            <ul>
                                <li class="bold"><a class="waves-effect" href="{{ path('new_entry') }}" id="nav-btn-add"><i class="mdi-content-add"></i></a></li>
                                <li><a class="waves-effect" href="javascript: void(null);" id="nav-btn-search"><i class="mdi-action-search"></i></a>
                            </ul>
                        </div>
                        <form method="get" action="index.php">
                            <div class="input-field nav-panel-search" style="display: none">
                                <input name="search" id="searchfield" type="search" required placeholder="{% trans %}Enter your search here{% endtrans %}">
                                <label for="search"><i class="mdi-action-search"></i></label>
                                <i class="mdi-navigation-close"></i>
                            </div>
                        </form>
                        <!--<form name="entry" method="post" action="{{ path('new_entry') }}">
                            <div class="input-field nav-panel-add" style="display: none">
                                <input id="add entry_url" name="entry[url]" type="search" required placeholder="{% trans %}Enter your link here{% endtrans %}">
                                <label for="add"><i class="mdi-content-add"></i></label>
                                <i class="mdi-navigation-close"></i>
                            </div>
                        </form>-->
                    </div>
                </nav>
            {% endblock %}

            <main>

                {% block precontent %}{% endblock %}

                {% block messages %}
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="messages success">
                            <a href="#" class="closeMessage">×</a>
                            <p>{{ flashMessage }}</p>
                        </div>
                    {% endfor %}
                {% endblock %}

                <div id="content" class="w600p">
                    {% block content %}{% endblock %}
                </div>

            </main>
        </div>

        {% block footer %}
            <footer class="w600p center mt3 mb3 smaller txtright">
                <p>{% trans %}powered by{% endtrans %} <a href="http://wallabag.org">wallabag</a></p>
            </footer>
        {% endblock %}
    </body>
</html>
