<footer class="page-footer cyan darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">{{ 'footer.wallabag.elsewhere'|trans }}</h5>
                <p class="grey-text text-lighten-4">
                    <a target="_blank" class="grey-text text-lighten-3" href="{{ addonsUrl.google_play }}" title="Android">
                        <span class="icon-android"></span>
                    </a>
                    <a target="_blank" class="grey-text text-lighten-3" href="{{ addonsUrl.ios }}" title="iOS">
                        <span class="icon-apple"></span>
                    </a>
                    <a target="_blank" class="grey-text text-lighten-3" href="{{ addonsUrl.firefox }}" title="Firefox">
                        <span class="icon-firefox"></span>
                    </a>
                    <a target="_blank" class="grey-text text-lighten-3" href="{{ addonsUrl.chrome }}" title="Chrome">
                        <span class="icon-chrome"></span>
                    </a>
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">{{ 'footer.wallabag.social'|trans }}</h5>
                <a target="_blank" class="grey-text text-lighten-3" href="{{ socialsUrl.twitter }}" title="Twitter">
                    <span class="icon-twitter"></span>
                </a>
                <a target="_blank" class="grey-text text-lighten-3" href="{{ socialsUrl.google_plus }}" title="Google+">
                    <span class="icon-google-plus2"></span>
                </a>
                <a target="_blank" class="grey-text text-lighten-3" href="{{ socialsUrl.facebook }}" title="Facebook">
                    <span class="icon-facebook2"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>{{ 'footer.wallabag.powered_by'|trans }} <a target="_blank" href="https://wallabag.org" class="grey-text text-lighten-4">wallabag</a></p>
            <a class="grey-text text-lighten-4 right" href="{{ path('about') }}">{{ 'footer.wallabag.about'|trans }}</a>
        </div>
    </div>
</footer>
