{% extends "WallabagCoreBundle::base.html.twig" %}

{% block css %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('themes/material/css/materialize.min.css') }}"  media="screen,projection"/>
    <link rel="stylesheet" href="{{ asset('themes/material/css/main.css') }}" media="all">
    <link rel="stylesheet" href="{{ asset('themes/material/css/print.css') }}" media="print">
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ asset('themes/material/js/materialize.min.js') }}"></script>
    <script src="{{ asset('themes/material/js/init.js') }}"></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block messages %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>
            Materialize.toast('{{ flashMessage }}', 4000);
        </script>
    {% endfor %}
{% endblock %}

{% block menu %}
    <nav class="cyan darken-1">
        <ul id="slide-out" class="side-nav fixed">
            {% block logo %}
                <li class="logo border-bottom">
                    <a class="waves-effect" title="{% trans %}Back to unread articles{% endtrans %}" href="{{ path('unread') }}">
                        <img src="{{ asset('themes/baggy/img/logo-other_themes.png') }}" alt="wallabag logo" />
                    </a>
                </li>
            {% endblock %}

            {% set currentRoute = app.request.attributes.get('_route') %}

            <li class="bold {% if currentRoute == 'unread' or currentRoute == 'homepage' %}active{% endif %}"><a class="waves-effect" href="{{ path('unread') }}">{% trans %}unread{% endtrans %}</a></li>
            <li class="bold {% if currentRoute == 'starred' %}active{% endif %}"><a class="waves-effect" href="{{ path('starred') }}">{% trans %}starred{% endtrans %}</a></li>
            <li class="bold {% if currentRoute == 'archive' %}active{% endif %}"><a class="waves-effect" href="{{ path('archive') }}">{% trans %}archive{% endtrans %}</a></li>
            <li class="bold {% if currentRoute == 'all' %}active{% endif %}"><a class="waves-effect" href="{{ path('all') }}">{% trans %}all{% endtrans %}</a></li>
            <li class="bold border-bottom {% if currentRoute == 'tags' %}active{% endif %}"><a class="waves-effect" href="{{ path('tag') }}">{% trans %}tags{% endtrans %}</a></li>
            <li class="bold {% if currentRoute == 'config' %}active{% endif %}"><a class="waves-effect" href="{{ path('config') }}">{% trans %}config{% endtrans %}</a></li>
            <li class="bold {% if currentRoute == 'howto' %}active{% endif %}"><a class="waves-effect" href="{{ path('howto') }}">{% trans %}howto{% endtrans %}</a></li>
            <li class="bold"><a class="waves-effect" class="icon icon-power" href="{{ path('fos_user_security_logout') }}" title="{% trans %}logout{% endtrans %}">{% trans %}logout{% endtrans %}</a></li>
        </ul>
        <div class="nav-wrapper nav-panels">
            <a href="#" data-activates="slide-out" class="nav-panel-menu button-collapse"><i class="mdi-navigation-menu"></i></a>
            <div class="left action">
                {% block title %}
                {% endblock %}
            </div>
            <div class="input-field nav-panel-buttom">
                <ul>
                    <li class="bold"><a title="{% trans %}Add a new entry{% endtrans %}" class="waves-effect" href="{{ path('new') }}" id="nav-btn-add"><i class="mdi-content-add"></i></a></li>
                    <li><a title="{% trans %}Search{% endtrans %}" class="waves-effect" href="javascript: void(null);" id="nav-btn-search"><i class="mdi-action-search"></i></a>
                    <li id="button_filters"><a title="{% trans %}Filter entries{% endtrans %}" href="#" data-activates="filters" class="nav-panel-menu button-collapse-right"><i class="mdi-content-filter-list"></i></a></li>
                </ul>
            </div>
            <form method="get" action="index.php">
                <div class="input-field nav-panel-search" style="display: none">
                    <input name="search" id="searchfield" type="search" required placeholder="{% trans %}Enter your search here{% endtrans %}">
                    <label for="search"><i class="mdi-action-search"></i></label>
                    <i class="mdi-navigation-close"></i>
                </div>
            </form>
            <div class="input-field nav-panel-add" style="display: none">
                {{ render(controller( "WallabagCoreBundle:Entry:addEntryForm" )) }}
                <label for="add" class="active"><i class="mdi-content-add"></i></label>
                <i class="mdi-navigation-close"></i>
            </div>
        </div>
    </nav>
{% endblock %}

{% block footer %}
    <footer class="page-footer cyan darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">{% trans %}Take wallabag with you{% endtrans %}</h5>
                    <p class="grey-text text-lighten-4">
                        {% trans %}We are available at{% endtrans %}
                        <a target="_blank" class="grey-text text-lighten-3" href="https://play.google.com/store/apps/details?id=fr.gaulupeau.apps.InThePoche">android</a> (<a target="_blank" class="grey-text text-lighten-3" href="https://f-droid.org/repository/browse/?fdid=fr.gaulupeau.apps.InThePoche">f-droid</a>)
                        {% trans %}and{% endtrans %}
                        <a target="_blank" class="grey-text text-lighten-3" href="https://itunes.apple.com/app/id828331015">iOS</a>.<br>
                        {% trans %}Install add-ons for{% endtrans %}
                        <a target="_blank" class="grey-text text-lighten-3" href="https://addons.mozilla.org/ru/firefox/addon/wallabag/">firefox</a>
                        {% trans %}and{% endtrans %}
                        <a target="_blank" class="grey-text text-lighten-3" href="https://chrome.google.com/webstore/detail/wallabagit/peehlcgckcnclnjlndmoddifcicdnabm">chrome</a>.
                    </p>
                 </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">{% trans %}Social{% endtrans %}</h5>
                    <ul>
                        <li><a target="_blank" class="grey-text text-lighten-3" href="https://twitter.com/wallabagapp">twitter</a></li>
                        <li><a target="_blank" class="grey-text text-lighten-3" href="https://framasphere.org/u/wallabag">diaspora*</a></li>
                        <li><a target="_blank" class="grey-text text-lighten-3" href="https://plus.google.com/+WallabagOrg/posts">Google+</a></li>
                        <li><a target="_blank" class="grey-text text-lighten-3" href="https://facebook.com/Wallabag">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>{% trans %}powered by{% endtrans %} <a target="_blank" href="https://wallabag.org" class="grey-text text-lighten-4">wallabag</a></p>
                <a class="grey-text text-lighten-4 right" href="{{ path('about') }}">{% trans %}about{% endtrans %}</a>
            </div>
        </div>
    </footer>
{% endblock %}
