<div class="card">
    <div class="card-body">
        <div class="card-image waves-effect waves-block waves-light">
            <ul class="card-entry-labels">
            {% for tag in entry.tags | slice(0, 3) %}
                <li><a href="{{ path('tag_entries', {'slug': tag.slug}) }}">{{ tag.label }}</a></li>
            {% endfor %}
            </ul>
            <a href="{{ path('view', { 'id': entry.id }) }}">
                <span class="preview" style="background-image: url({{ entry.previewPicture }})"></span>
            </a>
        </div>

        <div class="card-content">
            <i class="grey-text text-darken-4 activator material-icons right">more_vert</i>

            <span class="card-title dot-ellipsis dot-resize-update">
                <a href="{{ path('view', { 'id': entry.id }) }}" title="{{ entry.title | striptags | e('html_attr') }}">
                    {{ entry.title | striptags | truncate(80, true, '…') | raw }}
                </a>
            </span>

            <div class="original grey-text">
                <a href="{{ entry.url|e }}" target="_blank" title="{{ entry.domainName|removeWww }}" class="tool original grey-text">
                    <span>{{ entry.domainName|removeWww }}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="card-reveal">
        <i class="card-title activator grey-text text-darken-4 material-icons right">clear</i>
        <span class="card-title">
            <a href="{{ path('view', { 'id': entry.id }) }}" title="{{ entry.title | striptags | e('html_attr') }}">
                {{ entry.title |  striptags | truncate(80, true, '…') | raw }}
            </a>
        </span>

        <p>{{ entry.content|striptags|slice(0, 250)|raw }}&hellip;</p>

        <ul class="card-entry-labels-hidden">
            {% for tag in entry.tags %}
                <li><a href="{{ path('tag_entries', {'slug': tag.slug}) }}">{{ tag.label }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% include "@WallabagCore/themes/material/Entry/_card_actions.html.twig" with {'entry': entry} only %}
</div>
