<div class="card-action">
    <span class="reading-time grey-text">
        <i class="material-icons" title="{{ 'entry.list.reading_time'|trans }}">timer</i>
        {{ entry.readingTime / app.user.config.readingSpeed|round }} min
    </span>

    <ul class="tools right">
        <li>
            <a title="{{ 'entry.list.toogle_as_read'|trans }}" class="tool grey-text" href="{{ path('archive_entry', { 'id': entry.id }) }}"><i class="material-icons">{% if entry.isArchived == 0 %}done{% else %}redo{% endif %}</i></a>
            <a title="{{ 'entry.list.toogle_as_star'|trans }}" class="tool grey-text" href="{{ path('star_entry', { 'id': entry.id }) }}"><i class="material-icons">{% if entry.isStarred == 0 %}star_border{% else %}star{% endif %}</i></a>
            <a title="{{ 'entry.list.delete'|trans }}" class="tool grey-text delete" href="{{ path('delete_entry', { 'id': entry.id }) }}"><i class="material-icons">delete</i></a>
        </li>
    </ul>
</div>
