{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}
  {% include "@WallabagCore/themes/_title.html.twig" %}
{% endblock %}

{% block content %}
    {% include "WallabagCoreBundle:Entry:pager.html.twig" with {'entries': entries} %}
    <br />
    <ul class="row data">
        {% for entry in entries %}
            <li id="entry-{{ entry.id|e }}" class="col l4 m6 s12">
                <div class="card">

                    <div class="card-body">
                        {% if not entry.previewPicture is null %}
                            <div class="card-image waves-effect waves-block waves-light">
                                <ul class="card-entry-labels">
                                {% for tag in entry.tags | slice(0, 3) %}
                                    <li>{{ tag.label }}</li>
                                {% endfor %}
                                </ul>
                                <div class="preview activator" style="background-image: url({{ entry.previewPicture }})"></div>
                            </div>
                        {% endif %}

                        <div class="card-content">
                            {% if not entry.previewPicture is null %}
                                <i class="card-title grey-text text-darken-4 activator material-icons right">more_vert</i>
                            {% endif %}

                            <span class="card-title dot-ellipsis dot-resize-update"><a href="{{ path('view', { 'id': entry.id }) }}" title="{{ entry.title|raw }}">{{ entry.title|striptags|raw }}</a></span>

                            <div class="estimatedTime grey-text">
                                <span class="tool reading-time">
                                    {% set readingTime = entry.readingTime / app.user.config.readingSpeed %}
                                    {% if readingTime > 0 %}
                                        {{ 'entry.list.reading_time_minutes'|trans({'%readingTime%': readingTime|round}) }}
                                    {% else %}
                                        {{ 'entry.list.reading_time_less_one_minute'|trans|raw }}
                                    {% endif %}
                                </span>
                            </div>

                            {% if entry.previewPicture is null %}
                                <p>{{ entry.content|striptags|slice(0, 300)|raw }}&hellip;</p>
                                <ul class="card-entry-labels-hidden">
                                {% for tag in entry.tags | slice(0, 2) %}
                                    <li>{{ tag.label }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                    {% if not entry.previewPicture is null %}
                        <div class="card-reveal">
                            <i class="card-title grey-text text-darken-4 material-icons right">clear</i>
                            <span class="card-title"><a href="{{ path('view', { 'id': entry.id }) }}">{{ entry.title|raw }}</a></span>

                            <div class="estimatedTime grey-text">
                                <span class="tool reading-time">
                                    {% if readingTime > 0 %}{{ 'entry.list.reading_time_minutes'|trans({'%readingTime%': readingTime|round}) }}{% else %}{{ 'entry.list.reading_time_less_one_minute'|trans|raw }}{% endif %}
                                </span>
                            </div>

                            <p>{{ entry.content|striptags|slice(0, 300)|raw }}&hellip;</p>

                            <ul class="card-entry-labels-hidden">
                                {% for tag in entry.tags %}
                                    <li>{{ tag.label }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="card-action">
                        <span class="bold">
                            <a href="{{ entry.url|e }}" target="_blank" title="{{ 'entry.list.original_article'|trans }}: {{ entry.title|e }} - {{ entry.domainName|removeWww }}" class="tool original grey-text"><span>{{ entry.domainName|removeWww|truncate(18) }}</span></a>
                        </bold>

                        <ul class="tools right">
                            <li>
                                <a title="{{ 'entry.list.toogle_as_read'|trans }}" class="tool grey-text" href="{{ path('archive_entry', { 'id': entry.id }) }}"><i class="material-icons">{% if entry.isArchived == 0 %}done{% else %}redo{% endif %}</i></a>
                                <a title="{{ 'entry.list.toogle_as_star'|trans }}" class="tool grey-text" href="{{ path('star_entry', { 'id': entry.id }) }}"><i class="material-icons">{% if entry.isStarred == 0 %}star_border{% else %}star{% endif %}</i></a>
                                <a title="{{ 'entry.list.delete'|trans }}" class="tool grey-text delete" href="{{ path('delete_entry', { 'id': entry.id }) }}"><i class="material-icons">delete</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <!-- Export -->
    <div id="export" class="side-nav fixed right-aligned">
    {% set currentRoute = app.request.attributes.get('_route') %}
    {% if currentRoute == 'homepage' %}
        {% set currentRoute = 'unread' %}
    {% endif %}
        <h4 class="center">{{ 'entry.list.export_title'|trans }}</h4>
        <ul>
            {% if craue_setting('export_epub') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'epub' }) }}">EPUB</a></li>{% endif %}
            {% if craue_setting('export_mobi') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'mobi' }) }}">MOBI</a></li>{% endif %}
            {% if craue_setting('export_pdf') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'pdf' }) }}">PDF</a></li>{% endif %}
            {% if craue_setting('export_csv') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'json' }) }}">JSON</a></li>{% endif %}
            {% if craue_setting('export_json') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'csv' }) }}">CSV</a></li>{% endif %}
            {% if craue_setting('export_txt') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'txt' }) }}">TXT</a></li>{% endif %}
            {% if craue_setting('export_xml') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'xml' }) }}">XML</a></li>{% endif %}
        </ul>
    </div>

    <!-- Filters -->
    {% if form is not null %}
    <div id="filters" class="side-nav fixed right-aligned">
        <form action="{{ path('all') }}">

            <h4 class="center">{{ 'entry.filters.title'|trans }}</h4>

            <div class="row">
                <div class="col s12">
                    <label>{{ 'entry.filters.status_label'|trans }}</label>
                </div>

                <div class="input-field col s6 with-checkbox">
                    {{ form_widget(form.isArchived) }}
                    {{ form_label(form.isArchived) }}
                </div>

                <div class="input-field col s6 with-checkbox">
                    {{ form_widget(form.isStarred) }}
                    {{ form_label(form.isStarred) }}
                </div>

                <div class="input-field col s6 with-checkbox">
                    {{ form_widget(form.isUnread) }}
                    {{ form_label(form.isUnread) }}
                </div>

                <div class="col s12">
                    <label>{{ 'entry.filters.preview_picture_help'|trans }}</label>
                </div>

                <div class="input-field col s12 with-checkbox">
                    {{ form_widget(form.previewPicture) }}
                    {{ form_label(form.previewPicture) }}
                </div>

                <div class="col s12">
                    {{ form_label(form.language) }}
                </div>

                <div class="input-field col s12">
                    {{ form_widget(form.language) }}
                </div>

                <div class="col s12">
                    {{ form_label(form.readingTime) }}
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.readingTime.left_number, {'type': 'number'}) }}
                    <label for="entry_filter_readingTime_left_number">{{ 'entry.filters.reading_time.from'|trans }}</label>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.readingTime.right_number, {'type': 'number'}) }}
                    <label for="entry_filter_readingTime_right_number">{{ 'entry.filters.reading_time.to'|trans }}</label>
                </div>

                <div class="input-field col s12">
                    {{ form_widget(form.domainName, {'type': 'text', 'attr' : {'placeholder': 'website.com'} }) }}
                    {{ form_label(form.domainName) }}
                </div>

                <div class="col s12">
                    {{ form_label(form.createdAt) }}
                </div>

                <div class="input-field col s6">
                    {{ form_widget(form.createdAt.left_date, {'type': 'date', 'attr': {'class': 'datepicker', 'data-value': form.createdAt.left_date.vars.value} }) }}
                    <label for="entry_filter_createdAt_left_date" class="active">{{ 'entry.filters.created_at.from'|trans }}</label>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.createdAt.right_date, {'type': 'date', 'attr': {'class': 'datepicker', 'data-value': form.createdAt.right_date.vars.value} }) }}
                    <label for="entry_filter_createdAt_right_date" class="active">{{ 'entry.filters.created_at.to'|trans }}</label>
                </div>

                <div class="col s6">
                    <a href="#!" class="center waves-effect waves-green btn-flat" id="clear_form_filters">{{ 'entry.filters.action.clear'|trans }}</a>
                </div>

                <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit" id="submit-filter" value="filter">{{ 'entry.filters.action.filter'|trans }}</button>
                </div>
            </div>

        </form>
    </div>
    {% endif %}

{% endblock %}
