{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}
  {% set currentRoute = app.request.attributes.get('_route') %}

  {% if currentRoute == 'starred' %}
    {% trans %}starred{% endtrans %}
  {% elseif currentRoute == 'archive' %}
    {% trans %}archive{% endtrans %}
  {% elseif currentRoute == 'all' %}
    {% trans %}Filtered{% endtrans %}
  {% else %}
    {% trans %}unread{% endtrans %}
  {% endif %}

{% endblock %}

{% block content %}
    {% block pager %}
    <div class="results clearfix">
        <div class="nb-results left">{% transchoice entries.count %}{0} There is no entry.|{1} There is one entry.|]1,Inf[ There are %count% entries.{% endtranschoice %}</div>
        <ul class="pagination right">
            {% for p in range(1, entries.nbPages) if entries.nbPages > 1 %}
                <li class="{{ currentPage == p ? 'active':'waves-effect'}}">
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': p})) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
    <br />
    <ul class="row data">
        {% for entry in entries %}
            <li id="entry-{{ entry.id|e }}" class="col l4 m6 s12">
                <div class="card">

                    <div class="card-body">
                        {% if not entry.previewPicture is null %}
                            <div class="card-image waves-effect waves-block waves-light">
                                <div class="preview activator" style="background-image: url({{ entry.previewPicture }})"></div>
                            </div>
                        {% endif %}

                        <div class="card-content">
                            {% if not entry.previewPicture is null %}
                                <i class="card-title grey-text text-darken-4 activator mdi-navigation-more-vert right"></i>
                            {% endif %}

                            <span class="card-title"><a href="{{ path('view', { 'id': entry.id }) }}">{{ entry.title|striptags|slice(0, 42)|raw }}</a></span>

                            <div class="estimatedTime grey-text">
                                <span class="tool reading-time">
                                    {% set readingTime = entry.readingTime / app.user.config.readingSpeed %}
                                    {% if readingTime > 0 %}
                                        {% trans with {'%readingTime%': readingTime } %}estimated reading time: %readingTime% min{% endtrans %}
                                    {% else %}
                                        {% trans with {'%inferior%': '<small class="inferieur">&lt;</small>'} %}estimated reading time: %inferior% 1 min{% endtrans %}
                                    {% endif %}
                                </span>
                            </div>

                            {% if entry.previewPicture is null %}
                                <p>{{ entry.content|striptags|slice(0, 300)|raw }}&hellip;</p>
                            {% endif %}
                        </div>
                    </div>

                    {% if not entry.previewPicture is null %}
                        <div class="card-reveal">
                            <i class="card-title grey-text text-darken-4 mdi-card-close right"></i>
                            <span class="card-title"><a href="{{ path('view', { 'id': entry.id }) }}">{{ entry.title|raw }}</a></span>

                            <div class="estimatedTime grey-text">
                                <span class="tool reading-time">
                                    {% trans %}estimated reading time{% endtrans %}:
                                    {% if entry.readingTime > 0 %}{{ entry.readingTime }}{% else %}<small class="inferieur">&lt;</small> 1{% endif %} min
                                </span>
                            </div>

                            <p>{{ entry.content|striptags|slice(0, 300)|raw }}&hellip;</p>
                        </div>
                    {% endif %}

                    <div class="card-action">
                        <span class="bold"><a href="{{ entry.url|e }}" target="_blank" title="{% trans %}original{% endtrans %}: {{ entry.title|e }} - {{ entry.domainName|removeWww }}" class="tool original grey-text"><span>{{ entry.domainName|removeWww|truncate(18) }}</span></a></bold>

                        <ul class="tools links right">
                            <li>
                                <a title="{% trans %}Toggle mark as read{% endtrans %}" class="tool grey-text {% if entry.isArchived == 0 %}mdi-action-done{% else %}mdi-content-redo{% endif %}" href="{{ path('archive_entry', { 'id': entry.id }) }}"></a>
                                <a title="{% trans %}Toggle favorite{% endtrans %}" class="tool grey-text {% if entry.isStarred == 0 %}mdi-action-favorite-outline{% else %}mdi-action-favorite{% endif %}" href="{{ path('star_entry', { 'id': entry.id }) }}"></a>
                                <a title="{% trans %}Delete{% endtrans %}" class="tool grey-text delete mdi-action-delete " href="{{ path('delete_entry', { 'id': entry.id }) }}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <!-- Export -->
    <div id="export" class="side-nav fixed right-aligned">
    {% set currentRoute = app.request.attributes.get('_route') %}
    {% if currentRoute == 'homepage' %}
        {% set currentRoute = 'unread' %}
    {% endif %}
        <h4 class="center">{% trans %}Export{% endtrans %}</h4>
        <ul>
            {% if craue_setting('export_epub') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'epub' }) }}">EPUB</a></li>{% endif %}
            {% if craue_setting('export_mobi') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'mobi' }) }}">MOBI</a></li>{% endif %}
            {% if craue_setting('export_pdf') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'pdf' }) }}">PDF</a></li>{% endif %}
            {% if craue_setting('export_csv') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'json' }) }}">JSON</a></li>{% endif %}
            {% if craue_setting('export_json') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'csv' }) }}">CSV</a></li>{% endif %}
            {% if craue_setting('export_txt') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'txt' }) }}">TXT</a></li>{% endif %}
            {% if craue_setting('export_xml') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'xml' }) }}">XML</a></li>{% endif %}
        </ul>
    </div>

    <!-- Filters -->
    <div id="filters" class="side-nav fixed right-aligned">
        <form action="{{ path('all') }}">

            <h4 class="center">{% trans %}Filters{% endtrans %}</h4>

            <div class="row">
                <div class="col s12">
                    <label>{% trans %}Status{% endtrans %}</label>
                </div>

                <div class="input-field col s6 with-checkbox">
                    {{ form_widget(form.isArchived) }}
                    <label for="entry_filter_isArchived">{% trans %}Archived{% endtrans %}</label>
                </div>

                <div class="input-field col s6 with-checkbox">
                    {{ form_widget(form.isStarred) }}
                    <label for="entry_filter_isStarred">{% trans %}Starred{% endtrans %}</label>
                </div>

                <div class="col s12">
                    <label>{% trans %}Preview picture{% endtrans %}</label>
                </div>

                <div class="input-field col s12 with-checkbox">
                    {{ form_widget(form.previewPicture) }}
                    <label for="entry_filter_previewPicture">{% trans %}Has a preview picture{% endtrans %}</label>
                </div>

                <div class="col s12">
                    <label>{% trans %}Language{% endtrans %}</label>
                </div>

                <div class="input-field col s12">
                    {{ form_widget(form.language) }}
                </div>

                <div class="col s12">
                    <label>{% trans %}Reading time in minutes{% endtrans %}</label>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.readingTime.left_number, {'type': 'number'}) }}
                    <label for="entry_filter_readingTime_left_number">{% trans %}from{% endtrans %}</label>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.readingTime.right_number, {'type': 'number'}) }}
                    <label for="entry_filter_readingTime_right_number">{% trans %}to{% endtrans %}</label>
                </div>

                <div class="input-field col s12">
                    {{ form_widget(form.domainName, {'type': 'text', 'attr' : {'placeholder': 'website.com' | trans} }) }}
                    <label for="entry_filter_domainName">{% trans %}Domain name{% endtrans %}</label>
                </div>

                <div class="col s12">
                    <label>{% trans %}Creation date{% endtrans %}</label>
                </div>

                <div class="input-field col s6">
                    {{ form_widget(form.createdAt.left_date, {'type': 'date', 'attr': {'class': 'datepicker', 'data-value': form.createdAt.left_date.vars.value} }) }}
                    <label for="entry_filter_createdAt_left_date" class="active">{% trans %}from{% endtrans %}</label>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.createdAt.right_date, {'type': 'date', 'attr': {'class': 'datepicker', 'data-value': form.createdAt.right_date.vars.value} }) }}
                    <label for="entry_filter_createdAt_right_date" class="active">{% trans %}to{% endtrans %}</label>
                </div>

                <div class="col s6">
                    <a href="#!" class="center waves-effect waves-green btn-flat" id="clear_form_filters">{% trans %}Clear{% endtrans %}</a>
                </div>

                <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit" id="submit-filter" value="filter">{% trans %}Filter{% endtrans %}</button>
                </div>

            </div>

        </form>
    </div>
{% endblock %}
