{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}
  {% set currentRoute = app.request.attributes.get('_route') %}

  {% if currentRoute == 'unread' %}
    {% trans %}Unread{% endtrans %}
  {% elseif currentRoute == 'starred' %}
    {% trans %}Starred{% endtrans %}
  {% elseif currentRoute == 'archive' %}
    {% trans %}Archive{% endtrans %}
  {% endif %}

{% endblock %}

{% block content %}
    {% block pager %}
    {% if entries is not empty %}
        <div class="results clearfix">
            <div class="nb-results left">{{ entries.count }} {% trans %}entries{% endtrans %}</div>
            <ul class="pagination right">
                {% for p in range(1, entries.nbPages) %}
                    <li class="{{ currentPage == p ? 'active':'waves-effect'}}">
                        <a href="{{ path(app.request.attributes.get('_route'), {'page': p}) }}"  >{{ p }}</a>
                    </li>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endblock %}
<br>
    {% if entries is empty %}
        <div class="messages warning"><p>{% trans %}No articles found.{% endtrans %}</p></div>
    {% else %}
        <ul class="row">
            {% for entry in entries %}
                <li id="entry-{{ entry.id|e }}" class="col l4 m6 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title"><a href="{{ path('view', { 'id': entry.id }) }}">{{ entry.title|raw }}</a></span>
                            {% if entry.content| readingTime > 0 %}
                                <div class="estimatedTime grey-text"><span class="tool reading-time">{% trans %}estimated reading time: {% endtrans %} {{ entry.content| readingTime }} min</span></div>
                            {% else %}
                                <div class="estimatedTime grey-text"><span class="tool reading-time">{% trans %}estimated reading time: {% endtrans %} <small class="inferieur">&lt;</small> 1 min</span></div>
                            {% endif %}
                            <p>{{ entry.content|striptags|slice(0, 300) }}...</p>
                        </div>
                        <div class="card-action">
                            <span class="bold"><a href="{{ entry.url|e }}" target="_blank" title="{% trans %}original{% endtrans %}: {{ entry.title|e }}" class="tool original grey-text"><span>{{ entry.url | e | domainName }}</span></a></bold>

                            <ul class="tools links right">
                                <li>
                                    <a title="{% trans %}Toggle mark as read{% endtrans %}" class="tool grey-text {% if entry.isArchived == 0 %}mdi-action-done{% else %}mdi-content-redo{% endif %}" href="{{ path('archive_entry', { 'id': entry.id }) }}"></a>
                                    <a title="{% trans %}toggle favorite{% endtrans %}" class="tool grey-text {% if entry.isStarred == 0 %}mdi-action-favorite-outline{% else %}mdi-action-favorite{% endif %}" href="{{ path('star_entry', { 'id': entry.id }) }}"></a>
                                    <a title="{% trans %}delete{% endtrans %}" class="tool grey-text delete mdi-action-delete " href="{{ path('delete_entry', { 'id': entry.id }) }}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
