{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}
  {% set currentRoute = app.request.attributes.get('_route') %}

  {% if currentRoute == 'starred' %}
    {% trans %}Starred{% endtrans %}
  {% elseif currentRoute == 'archive' %}
    {% trans %}Archive{% endtrans %}
  {% elseif currentRoute == 'all' %}
    {% trans %}Filtered{% endtrans %}
  {% else %}
    {% trans %}Unread{% endtrans %}
  {% endif %}

{% endblock %}

{% block content %}
    {% block pager %}
    <div class="results clearfix">
        <div class="nb-results left">{% transchoice entries.count %}{0} There is no entry.|{1} There is one entry.|]1,Inf[ There are %count% entries.{% endtranschoice %}</div>
        <ul class="pagination right">
            {% for p in range(1, entries.nbPages) if entries.nbPages > 1 %}
                <li class="{{ currentPage == p ? 'active':'waves-effect'}}">
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': p})) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
    <br />
    <ul class="row data">
        {% for entry in entries %}
            <li id="entry-{{ entry.id|e }}" class="col l4 m6 s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><a href="{{ path('view', { 'id': entry.id }) }}">{{ entry.title|raw }}</a></span>
                        {% if entry.readingTime > 0 %}
                            <div class="estimatedTime grey-text"><span class="tool reading-time">{% trans %}estimated reading time: {% endtrans %} {{ entry.readingTime }} min</span></div>
                        {% else %}
                            <div class="estimatedTime grey-text"><span class="tool reading-time">{% trans %}estimated reading time: {% endtrans %} <small class="inferieur">&lt;</small> 1 min</span></div>
                        {% endif %}
                        <p>{{ entry.content|striptags|slice(0, 300) }}&hellip;</p>
                    </div>
                    <div class="card-action">
                        <span class="bold"><a href="{{ entry.url|e }}" target="_blank" title="{% trans %}original{% endtrans %}: {{ entry.title|e }} - {{ entry.domainName }}" class="tool original grey-text"><span>{{ entry.domainName | truncate(18) }}</span></a></bold>

                        <ul class="tools links right">
                            <li>
                                <a title="{% trans %}Toggle mark as read{% endtrans %}" class="tool grey-text {% if entry.isArchived == 0 %}mdi-action-done{% else %}mdi-content-redo{% endif %}" href="{{ path('archive_entry', { 'id': entry.id }) }}"></a>
                                <a title="{% trans %}Toggle favorite{% endtrans %}" class="tool grey-text {% if entry.isStarred == 0 %}mdi-action-favorite-outline{% else %}mdi-action-favorite{% endif %}" href="{{ path('star_entry', { 'id': entry.id }) }}"></a>
                                <a title="{% trans %}Delete{% endtrans %}" class="tool grey-text delete mdi-action-delete " href="{{ path('delete_entry', { 'id': entry.id }) }}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>


    <!-- Filters -->
    <div id="filters" class="side-nav fixed right-aligned">
        <form action="{{ path('all') }}">

            <h4 class="center">{% trans %}Filters{% endtrans %}</h1>

            <div class="row">


                <div class="col s12">
                    <label>{% trans %}Status{% endtrans %}</label>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.isArchived) }}
                    <label for="entry_filter_isArchived">{% trans %}Archived{% endtrans %}</label>
                </div>

                <div class="input-field col s6">
                    {{ form_widget(form.isStarred) }}
                    <label for="entry_filter_isStarred">{% trans %}Starred{% endtrans %}</label>
                </div>

                <div class="col s12">
                    <label>{% trans %}Reading time in minutes{% endtrans %}</label>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.readingTime.left_number, {'type': 'number'}) }}
                    <label for="entry_filter_readingTime_left_number">{% trans %}from{% endtrans %}</label>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.readingTime.right_number, {'type': 'number'}) }}
                    <label for="entry_filter_readingTime_right_number">{% trans %}to{% endtrans %}</label>
                </div>

                <div class="input-field col s6">
                    {{ form_widget(form.domainName, {'type': 'text', 'attr' : {'placeholder': 'website.com'} }) }}
                    <label for="entry_filter_domainName">{% trans %}Domain name{% endtrans %}</label>
                </div>

                <div class="col s12">
                    <label>{% trans %}Creation date{% endtrans %}</label>
                </div>

                <div class="input-field col s6">
                    {{ form_widget(form.createdAt.left_date, {'type': 'date', 'attr': {'class': 'datepicker', 'data-value': form.createdAt.left_date.vars.value} }) }}
                    <label for="entry_filter_createdAt_left_date" class="active">{% trans %}from{% endtrans %}</label>
                </div>
                <div class="input-field col s6">
                    {{ form_widget(form.createdAt.right_date, {'type': 'date', 'attr': {'class': 'datepicker', 'data-value': form.createdAt.right_date.vars.value} }) }}
                    <label for="entry_filter_createdAt_right_date" class="active">{% trans %}to{% endtrans %}</label>
                </div>

                <div class="col s6">
                    <a href="#!" class="center waves-effect waves-green btn-flat" id="clear_form_filters">{% trans %}Clear{% endtrans %}</a>
                </div>

                <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit" id="submit-filter" value="filter">{% trans %}Filter{% endtrans %}</button>
                </div>

            </div>

        </form>
    </div>
{% endblock %}
