{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ entry.title|raw }} ({{ entry.domainName }}){% endblock %}

{% block menu %}
    <div class="progress">
        <div class="determinate"></div>
    </div>
    <nav class="hide-on-large-only">
        <div class="nav-wrapper cyan darken-1">
            <ul>
                <li>
                    <a class="waves-effect" href="{{ path('homepage') }}">
                        <i class="mdi-action-exit-to-app"></i>
                    </a>
                </li>
            </ul>
            <ul class="right">
                <li>
                    <a class="waves-effect" title="{% trans %}Mark as read{% endtrans %}" href="{{ path('archive_entry', { 'id': entry.id }) }}" id="markAsRead">
                        <i class="{% if entry.isArchived == 0 %}mdi-action-done{% else %}mdi-content-redo{% endif %} small"></i>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" title="{% trans %}Favorite{% endtrans %}" href="{{ path('star_entry', { 'id': entry.id }) }}" id="setFav">
                        <i class="{% if entry.isStarred == 0 %}mdi-action-favorite-outline{% else %}mdi-action-favorite{% endif %} small"></i>
                    </a>
                </li>
                <li>
                    <a href="#" data-activates="slide-out" class="button-collapse right">
                        <i class="mdi-navigation-menu"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <ul id="slide-out" class="collapsible side-nav fixed reader-mode" data-collapsible="accordion">
        <li class="bold border-bottom hide-on-med-and-down">
            <a class="waves-effect collapsible-header" href="{{ path('homepage') }}">
                <i class="mdi-action-exit-to-app small"></i>
                <span>{% trans %}back{% endtrans %}</span>
            </a>
            <div class="collapsible-body"></div>
        </li>

        <li class="bold border-bottom hide-on-med-and-down">
            <a class="waves-effect collapsible-header" href="{{ entry.url|e }}">
                <i class="mdi-content-link small"></i>
                <span>{% trans %}original article{% endtrans %}</span>
            </a>
            <div class="collapsible-body"></div>
        </li>

        <li class="bold hide-on-med-and-down">
            <a class="waves-effect collapsible-header" title="{% trans %}Mark as read{% endtrans %}" href="{{ path('archive_entry', { 'id': entry.id }) }}" id="markAsRead">
                <i class="{% if entry.isArchived == 0 %}mdi-action-done{% else %}mdi-content-redo{% endif %} small"></i>
                <span>{% trans %}Toggle mark as read{% endtrans %}</span>
            </a>
            <div class="collapsible-body"></div>
        </li>

        <li class="bold hide-on-med-and-down">
            <a class="waves-effect collapsible-header" title="{% trans %}Favorite{% endtrans %}" href="{{ path('star_entry', { 'id': entry.id }) }}" id="setFav">
                <i class="{% if entry.isStarred == 0 %}mdi-action-favorite-outline{% else %}mdi-action-favorite{% endif %} small"></i>
                <span>{% trans %}Toggle favorite{% endtrans %}</span>
            </a>
            <div class="collapsible-body"></div>
        </li>
        <li class="bold border-bottom hide-on-med-and-down">
            <a class="waves-effect collapsible-header" title="{% trans %}Delete{% endtrans %}" href="{{ path('delete_entry', { 'id': entry.id }) }}">
                <i class="mdi-action-delete small"></i>
                <span>{% trans %}Delete{% endtrans %}</span>
            </a>
            <div class="collapsible-body"></div>
        </li>

        <li class="bold border-bottom hide-on-med-and-down">
            <a class="waves-effect collapsible-header" id="nav-btn-add-tag">
                <i class="mdi-action-label-outline small"></i>
                <span>{% trans %}Add a tag{% endtrans %}</span>
            </a>
            <div class="collapsible-body"></div>
        </li>

        <li class="bold">
            <a class="waves-effect collapsible-header">
                <i class="mdi-social-share small"></i>
                <span>{% trans %}Share{% endtrans %}</span>
            </a>
            <div class="collapsible-body">
                <ul>
                    {% if share_twitter %}<li><a href="https://twitter.com/home?status={{entry.title|url_encode}}%20{{ entry.url|url_encode }}%20via%20@wallabagapp" target="_blank" class="tool twitter icon icon-twitter" title="{% trans %}twitter{% endtrans %}"><span>{% trans %}twitter{% endtrans %}</span></a></li>{% endif %}
                    {% if share_shaarli %}<li><a href="{{ shaarli_url }}/index.php?post={{ entry.url|url_encode }}&amp;title={{ entry.title|url_encode }}" target="_blank" class="tool shaarli" title="{% trans %}shaarli{% endtrans %}"><span>{% trans %}shaarli{% endtrans %}</span></a></li>{% endif %}
                    {% if share_diaspora %}<li><a href="{{ diaspora_url }}/bookmarklet?url={{ entry.url|url_encode }}&title={{ entry.title|url_encode }}&notes=&v=1&noui=1&jump=doclose" target="_blank" class="tool diaspora icon-image icon-image--diaspora" title="{% trans %}diaspora*{% endtrans %}"><span>{% trans %}diaspora*{% endtrans %}</span></a></li>{% endif %}
                    {# {% if flattr %}{% if flattr.status == flattrable %}<li><a href="http://flattr.com/submit/auto?url={{ entry.url }}" class="tool flattr icon icon-flattr" target="_blank" title="{% trans %}flattr{% endtrans %}"><span>{% trans %}flattr{% endtrans %}</span></a></li>{% elseif flattr.status == flattred %}<li><a href="{{ flattr.flattrItemURL }}" class="tool flattr icon icon-flattr" target="_blank" title="{% trans %}flattr{% endtrans %}><span>{% trans %}flattr{% endtrans %}</span> ({{ flattr.numFlattrs }})</a></li>{% endif %}{% endif %} #}
                    {% if carrot %}<li><a href="https://secure.carrot.org/GiveAndGetBack.do?url={{ entry.url|url_encode }}&title={{ entry.title|url_encode }}" class="tool carrot icon-image icon-image--carrot" target="_blank" title="{% trans %}carrot{% endtrans %}"><span>Carrot</span></a></li>{% endif %}
                    {% if share_mail %}<li><a href="mailto:?subject={{ entry.title|url_encode }}&amp;body={{ entry.url|url_encode }}%20via%20@wallabagapp" class="tool email icon icon-mail" title="{% trans %}Email{% endtrans %}"><span>{% trans %}Email{% endtrans %}</span></a></li>{% endif %}
                </ul>
            </div>
        </li>

        <li class="bold">
            <a class="waves-effect collapsible-header">
                <i class="mdi-file-file-download small"></i>
                <span><del>{% trans %}Download{% endtrans %}</del></span>
            </a>
            <div class="collapsible-body">
                <ul>
                    {% if export_epub %}<li><del><a href="?epub&amp;method=id&amp;value={{ entry.id }}" title="Generate ePub file">EPUB</a></del></li>{% endif %}
                    {% if export_mobi %}<li><del><a href="?mobi&amp;method=id&amp;value={{ entry.id }}" title="Generate Mobi file">MOBI</a></del></li>{% endif %}
                    {% if export_pdf %}<li><del><a href="?pdf&amp;method=id&amp;value={{ entry.id }}" title="Generate PDF file">PDF</a></del> </li>{% endif %}
                </ul>
            </div>
        </li>

        <li class="bold hide-on-large-only">
            <a class="waves-effect collapsible-header" title="{% trans %}Delete{% endtrans %}" href="{{ path('delete_entry', { 'id': entry.id }) }}">
                <i class="mdi-action-delete small"></i>
                <span>{% trans %}Delete{% endtrans %}</span>
            </a>
            <div class="collapsible-body"></div>
        </li>

        <li class="bold">
            <a class="waves-effect collapsible-header" href="mailto:hello@wallabag.org?subject=Wrong%20display%20in%20wallabag&amp;body={{ entry.url|url_encode }}" title="{% trans %}Does this article appear wrong?{% endtrans %}">
                <i class="mdi-alert-error small"></i>
                <span>{% trans %}Problems?{% endtrans %}</span>
            </a>
            <div class="collapsible-body"></div>
        </li>

    </ul>

<style>
main {
    padding: 0;
}
</style>
{% endblock %}

{% block content %}
    <div id="article">
        <header class="mbm">
            <h1>{{ entry.title|raw }} <a href="{{ path('edit', { 'id': entry.id }) }}" title="{% trans %}Edit title{% endtrans %}">✎</a></h1>
        </header>
        <aside>
            <a href="{{ entry.url|e }}" target="_blank" title="{% trans %}original{% endtrans %} : {{ entry.title|e }}" class="tool link mdi-content-link"> <span>{{ entry.domainName }}</span></a>
            <div id="list">
                {% for tag in entry.tags %}<span><a href="#">{{ tag.label }}</a></span>{% endfor %}
            </div>

            {% if entry.previewPicture is not null %}
                <div><img class="preview" src="{{ entry.previewPicture }}" alt="{{ entry.title|raw }}" /></div>
            {% endif %}

            <div class="input-field nav-panel-add-tag" style="display: none">
                {{ render(controller( "WallabagCoreBundle:Tag:addTagForm", { 'id': entry.id } )) }}
            </div>

        </aside>
        <article>
            {{ entry.content | raw }}
        </article>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
