{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{% trans %}Forgot password{% endtrans %}{% endblock %}

{% block body_class %}login{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
    <main class="valign-wrapper">
        <div class="valign row">
            <h1>{% trans %}Forgot password{% endtrans %}</h1>
            <div class="card sw">
                <form action="{{ path('forgot_password') }}" method="post" name="forgotPasswordform">
                    <div class="card-content">

                        <span class="card-title black-text"><p>{% trans %}Enter your email address below and we'll send you password reset instructions.{% endtrans %}</p></span>

                        {% if form_errors(form) %}
                            <span class="black-text">{{ form_errors(form) }}</span>
                        {% endif %}

                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <span class="black-text"><p>{{ flashMessage }}</p></span>
                        {% endfor %}

                        {% if form_errors(form.email) %}
                            <span class="black-text">{{ form_errors(form.email) }}</span>
                        {% endif %}

                        <div class="input-field s12">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>

                    </div>
                    <div class="card-action">
                        <button class="btn waves-effect waves-light" type="submit" name="send">
                            {% trans %}Send{% endtrans %}
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </main>
    <style>
    main {
        padding: 0;
    }
    </style>
{% endblock %}

{% block footer %}
{% endblock %}