{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'error.page_title'|trans }}{% endblock %}

{% block body_class %}login{% endblock %}

{% block menu %}{% endblock %}
{% block messages %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<main class="valign-wrapper">
    <div class="valign row">
        <div class="card sw">
            <div class="center"><img src="{{ asset('wallassets/themes/_global/img/logo-w.png') }}" alt="wallabag logo" /></div>
            <h2>{{ status_code }}: {{ status_text }}</h2>
            <p>{{ exception.message }}</p>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
