            <button id="menu" class="icon icon-menu desktopHide"><span>Menu</span></button>
            <ul id="links" class="links">
                <li><a href="{{ path('unread') }}">{% trans %}unread{% endtrans %}</a></li>
                <li><a href="{{ path('starred') }}">{% trans %}favorites{% endtrans %}</a></li>
                <li><a href="{{ path('archive') }}"}>{% trans %}archive{% endtrans %}</a></li>
                <li><a href="?view=tags">{% trans %}tags{% endtrans %}</a></li>
                <li><a href="{{ path('new_entry') }}">{% trans %}save a link{% endtrans %}</a></li>
                <li style="position: relative;"><a href="javascript: void(null);" id="search">{% trans %}search{% endtrans %}</a>
                    {% include "WallabagCoreBundle::_search_form.html.twig" %}
                </li>
                <li><a href="?view=config">{% trans %}config{% endtrans %}</a></li>
                <li><a href={{ path('about') }}>{% trans %}about{% endtrans %}</a></li>
                <li><a class="icon icon-power" href="{{ path('logout') }}" title="{% trans %}logout{% endtrans %}">{% trans %}logout{% endtrans %}</a></li>
            </ul>

