{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'user.manage.page_title'|trans }}{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <p class="help">{{ 'user.manage.description'|trans|raw }}</p>

                        <table class="bordered">
                            <thead>
                                <tr>
                                    <th>{{ 'user.manage.field.username'|trans }}</th>
                                    <th>{{ 'user.manage.field.email'|trans }}</th>
                                    <th>{{ 'user.manage.field.last_login'|trans }}</th>
                                    <th>{{ 'user.manage.field.locked'|trans }}</th>
                                    <th>{{ 'user.manage.action'|trans }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.lastLogin|date('d/m/Y H:i:s') }}</td>
                                        <td>{{ user.locked ? 'yes' : 'no' }}</td>
                                        <td>edit - delete</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
