{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'ignore_origin_instance_rule.page_title'|trans }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <h4>{{ 'ignore_origin_instance_rule.new_ignore_origin_instance_rule'|trans }}</h4>

                        <div id="set6" class="col s12">
                            {{ form_start(form) }}
                                {{ form_errors(form) }}

                                <div class="row">
                                    <div class="input-field col s12">
                                        {{ form_label(form.rule) }}
                                        {{ form_errors(form.rule) }}
                                        {{ form_widget(form.rule) }}
                                    </div>
                                </div>

                                {{ form_widget(form.save, {'attr': {'class': 'btn waves-effect waves-light'}}) }}
                                {{ form_rest(form) }}
                            </form>
                            <p><a class="waves-effect waves-light btn blue-grey" href="{{ path('ignore_origin_instance_rules_index') }}">{{ 'ignore_origin_instance_rule.form.back_to_list'|trans }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
