<!DOCTYPE html>
<!--[if lte IE 6]><html class="no-js ie6 ie67 ie678" lang="en"><![endif]-->
<!--[if lte IE 7]><html class="no-js ie7 ie67 ie678" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 ie678" lang="en"><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en"><![endif]-->
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=10">
        <![endif]-->
        <title>{% block title %}{% endblock %} - wallabag</title>
        {% include "WallabagCoreBundle:themes:_global/_head_icon.html.twig" %}

        <link rel="stylesheet" href="{{ asset('themes/baggy/css/ratatouille.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('themes/baggy/css/font.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('themes/baggy/css/main.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('themes/baggy/css/messages.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('themes/baggy/css/print.css') }}" media="print">

        <script src="{{ asset('themes/_global/js/jquery-2.0.3.min.js') }}"></script>
        <script src="{{ asset('themes/_global/js/autoClose.js') }}"></script>
        <script src="{{ asset('themes/baggy/js/jquery.cookie.js') }}"></script>
        <script src="{{ asset('themes/baggy/js/init.js') }}"></script>
        <script src="{{ asset('themes/_global/js/saveLink.js') }}"></script>
        <script src="{{ asset('themes/_global/js/popupForm.js') }}"></script>
        <script src="{{ asset('themes/baggy/js/closeMessage.js') }}"></script>
        <script src="{{ asset('bundles/wallabagcore/js/bookmarklet.js') }}"></script>
    </head>
    <body>
    {% include "WallabagCoreBundle::_top.html.twig" %}
    <div id="main">
        {% block menu %}{% endblock %}
        {% block precontent %}{% endblock %}
        {{ include("WallabagCoreBundle::_messages.html.twig", {'flashMessages': app.session.flashbag.get('notice')}) }}
        <div id="content" class="w600p center">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include "WallabagCoreBundle::_footer.html.twig" %}
    </body>
</html>
