{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title "Unread" %}

{% block menu %}
    {% include "WallabagCoreBundle::_menu.html.twig" %}
{% endblock %}

{% block content %}
    {% block pager %}
    {% if entries is not empty %}
        <div class="results">
            <div class="nb-results">{{ entries.count }} {% trans %}entries{% endtrans %}</div>
            <div class="pagination">
                {% for p in range(1, entries.count) %}
                    <li>
                        <a href="{{ path(app.request.attributes.get('_route'), {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endblock %}

    {% if entries is empty %}
        <div class="messages warning"><p>{% trans %}No articles found.{% endtrans %}</p></div>
    {% else %}
        {% for entry in entries %}
            <div id="entry-{{ entry.id|e }}" class="entrie">
                <h2><a href="{{ path('view', { 'id': entry.id }) }}">{{ entry.title|raw }}</a></h2>
                {% if entry.content| readingTime > 0 %}
                    <div class="estimatedTime"><span class="tool reading-time">{% trans %}estimated reading time :{% endtrans %} {{ entry.content| readingTime }} min</span></div>
                {% else %}
                    <div class="estimatedTime"><span class="tool reading-time">{% trans %}estimated reading time :{% endtrans %} <small class="inferieur">&lt;</small> 1 min</span></div>
                {% endif %}

                <ul class="tools links">
                    <li><a title="{% trans %}Toggle mark as read{% endtrans %}" class="tool icon-check icon {% if entry.isArchived == 0 %}archive-off{% else %}archive{% endif %}" href="{{ path('archive_entry', { 'id': entry.id }) }}"><span>{% trans %}Toggle mark as read{% endtrans %}</span></a></li>
                    <li><a title="{% trans %}toggle favorite{% endtrans %}" class="tool icon-star icon {% if entry.isStarred == 0 %}fav-off{% else %}fav{% endif %}" href="{{ path('star_entry', { 'id': entry.id }) }}"><span>{% trans %}toggle favorite{% endtrans %}</span></a></li>
                    <li><a title="{% trans %}delete{% endtrans %}" class="tool delete icon-trash icon" href="{{ path('delete_entry', { 'id': entry.id }) }}"><span>{% trans %}delete{% endtrans %}</span></a></li>
                    <li><a href="{{ entry.url|e }}" target="_blank" title="{% trans %}original{% endtrans %} : {{ entry.title|e }}" class="tool link icon-link icon"><span>{{ entry.url | e | domainName }}</span></a></li>
                </ul>
                <p>{{ entry.content|striptags|slice(0, 300) }}...</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
