{% extends "layout.html.twig" %}

{% block title %}{{ 'developer.client.page_title'|trans }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel settings">

            <div class="row">
                <p>{{ 'developer.client.page_description'|trans }}</p>
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="input-field col s12">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>

                <div class="input-field col s12">
                    {{ form_label(form.redirect_uris) }}
                    {{ form_errors(form.redirect_uris) }}
                    {{ form_widget(form.redirect_uris) }}
                </div>

                <a href="{{ path('developer') }}" class="waves-effect waves-light grey btn">{{ 'developer.client.action_back'|trans }}</a>
                {{ form_widget(form.save, {'attr': {'class': 'btn waves-effect waves-light'}}) }}

                {{ form_rest(form) }}
            </div>

        </div>
    </div>
</div>

{% endblock %}
