{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{% trans %}Config{% endtrans %}{% endblock %}

{% block content %}
    <h2>{% trans %}Wallabag configuration{% endtrans %}</h2>

    {{ form_start(form.config) }}
        {{ form_errors(form.config) }}

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.config.theme) }}
                {{ form_errors(form.config.theme) }}
                {{ form_widget(form.config.theme) }}
            </div>
        </fieldset>

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.config.items_per_page) }}
                {{ form_errors(form.config.items_per_page) }}
                {{ form_widget(form.config.items_per_page) }}
            </div>
        </fieldset>

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.config.reading_speed) }}
                {{ form_errors(form.config.reading_speed) }}
                {{ form_widget(form.config.reading_speed) }}
            </div>
        </fieldset>


        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.config.language) }}
                {{ form_errors(form.config.language) }}
                {{ form_widget(form.config.language) }}
            </div>
        </fieldset>

        {{ form_rest(form.config) }}
    </form>

    <h2>{% trans %}RSS configuration{% endtrans %}</h2>

    {{ form_start(form.rss) }}
        {{ form_errors(form.rss) }}

        <div class="row">
            {% trans %}RSS feeds provided by wallabag allow you to read your saved articles with your favourite RSS reader.{% endtrans %}
        </div>

        <fieldset class="w500p inline">
            <div class="row">
                <label>Rss token</label>
                {% if rss.token %}
                    {{ rss.token }}
                {% else %}
                    <em>No token</em>
                {% endif %}
                –
                <a href="{{ path('generate_token') }}">Regenerate ?</a>
            </div>
        </fieldset>

        <fieldset class="w500p inline">
            <div class="row">
                <label>Rss links:</label>
                {% if rss.token %}
                    <ul>
                        <li><a href="{{ path('unread_rss', {'username': rss.username, 'token': rss.token}) }}">unread</a></li>
                        <li><a href="{{ path('starred_rss', {'username': rss.username, 'token': rss.token}) }}">fav</a></li>
                        <li><a href="{{ path('archive_rss', {'username': rss.username, 'token': rss.token}) }}">archives</a></li>
                    </ul>
                {% else %}
                    <strong>You need to generate a token first.</strong>
                {% endif %}
            </div>
        </fieldset>

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.rss.rss_limit) }}
                {{ form_errors(form.rss.rss_limit) }}
                {{ form_widget(form.rss.rss_limit) }}
            </div>
        </fieldset>

        {{ form_rest(form.rss) }}
    </form>

    <h2>{% trans %}User information{% endtrans %}</h2>

    {{ form_start(form.user) }}
        {{ form_errors(form.user) }}

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.user.name) }}
                {{ form_errors(form.user.name) }}
                {{ form_widget(form.user.name) }}
            </div>
        </fieldset>

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.user.email) }}
                {{ form_errors(form.user.email) }}
                {{ form_widget(form.user.email) }}
            </div>
        </fieldset>

        {% if twofactor_auth %}
        <div class="row">
            {% trans %}Enabling two factor authentication means you'll receive an email with a code on every new untrusted connexion{% endtrans %}
        </div>

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.user.twoFactorAuthentication) }}
                {{ form_errors(form.user.twoFactorAuthentication) }}
                {{ form_widget(form.user.twoFactorAuthentication) }}
            </div>
        </fieldset>
        {% endif %}

        {{ form_rest(form.user) }}
    </form>

    <h2>{% trans %}Change your password{% endtrans %}</h2>

    {{ form_start(form.pwd) }}
        {{ form_errors(form.pwd) }}

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.pwd.old_password) }}
                {{ form_errors(form.pwd.old_password) }}
                {{ form_widget(form.pwd.old_password) }}
            </div>
        </fieldset>

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.pwd.new_password.first) }}
                {{ form_errors(form.pwd.new_password.first) }}
                {{ form_widget(form.pwd.new_password.first) }}
            </div>
        </fieldset>

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.pwd.new_password.second) }}
                {{ form_errors(form.pwd.new_password.second) }}
                {{ form_widget(form.pwd.new_password.second) }}
            </div>
        </fieldset>

        {{ form_rest(form.pwd) }}
    </form>

    <h2>{% trans %}Tagging rules{% endtrans %}</h2>

    <ul>
        {% for tagging_rule in app.user.config.taggingRules %}
        <li>
            if « {{ tagging_rule.rule }} » then tag as « {{ tagging_rule.tags|join(', ') }} »
            <a href="{{ path('delete_tagging_rule', {id: tagging_rule.id}) }}" title="{% trans %}Delete{% endtrans %}" class="tool delete icon-trash icon"></a>
        </li>
        {% endfor %}
    </ul>

    {{ form_start(form.new_tagging_rule) }}
        {{ form_errors(form.new_tagging_rule) }}

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.new_tagging_rule.rule) }}
                {{ form_errors(form.new_tagging_rule.rule) }}
                {{ form_widget(form.new_tagging_rule.rule) }}
            </div>
        </fieldset>

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.new_tagging_rule.tags) }}
                {{ form_errors(form.new_tagging_rule.tags) }}
                {{ form_widget(form.new_tagging_rule.tags) }}
            </div>
        </fieldset>

        {{ form_rest(form.new_tagging_rule) }}
    </form>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <h2>{% trans %}Add a user{% endtrans %}</h2>

    {{ form_start(form.new_user) }}
        {{ form_errors(form.new_user) }}

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.new_user.username) }}
                {{ form_errors(form.new_user.username) }}
                {{ form_widget(form.new_user.username) }}
            </div>
        </fieldset>

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.new_user.plainPassword.first) }}
                {{ form_errors(form.new_user.plainPassword.first) }}
                {{ form_widget(form.new_user.plainPassword.first) }}
            </div>
        </fieldset>

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.new_user.plainPassword.second) }}
                {{ form_errors(form.new_user.plainPassword.second) }}
                {{ form_widget(form.new_user.plainPassword.second) }}
            </div>
        </fieldset>

        <fieldset class="w500p inline">
            <div class="row">
                {{ form_label(form.new_user.email) }}
                {{ form_errors(form.new_user.email) }}
                {{ form_widget(form.new_user.email) }}
            </div>
        </fieldset>

        {{ form_rest(form.new_user) }}
        {% endif %}
    </form>
{% endblock %}
