{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'tag.page_title'|trans }}{% endblock %}

{% block content %}
    <div class="results clearfix">
        <div class="nb-results left">{{ 'tag.list.number_on_the_page'|transchoice(tags.count) }}</div>
    </div>
    <br />
    <ul class="row data">
    {% for tag in tags %}
        <li id="tag-{{ tag.id|e }}" class="col l4 m6 s12">{{tag.label}} ({{ tag.entries.getValues | length }})</li>
    {% endfor %}
    </ul>
{% endblock %}
