{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'tag.page_title'|trans }}{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="results clearfix">
        <div class="nb-results left">{{ 'tag.list.number_on_the_page'|transchoice(tags|length) }}</div>
    </div>

    <br />

    <div class="row">
        <ul class="card-tag-labels">
            {% for tag in tags %}
                <li title="{{tag.label}} ({{ tag.nbEntries }})" id="tag-{{ tag.id }}" class="col l2 m2 s5">
                    <a href="{{ path('tag_entries', {'slug': tag.slug}) }}">{{tag.label}} ({{ tag.nbEntries }})</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <a href="{{ path('untagged') }}">{{ 'tag.list.see_untagged_entries'|trans }}</a>
    </div>
{% endblock %}
