{% extends "WallabagCoreBundle::layout.html.twig" %}
{% block title %}{% trans %}Import > Wallabag v1{% endtrans %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel settings">
            <div class="row">
                <blockquote>{{ import.description|trans }}</blockquote>
                <p>{% trans %}Please select your wallabag export and click on the below button to upload and import it.{% endtrans %}</p>
                <div class="col s12">
                    {{ form_start(form, {'method': 'POST'}) }}
                        {{ form_errors(form) }}
                        <div class="row">
                            <div class="file-field input-field col s12">
                                {{ form_errors(form.file) }}
                                <div class="btn">
                                    <span>{% trans %}File{% endtrans %}</span>
                                    {{ form_widget(form.file) }}
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="input-field col s6 with-checkbox">
                                <h6>{% trans %}Mark all as read ?{% endtrans %}</h6>
                                {{ form_widget(form.mark_as_read) }}
                                <label for="upload_import_file_mark_as_read">{% trans %}Mark all imported entries as read{% endtrans %}</label>
                            </div>
                        </div>
                        <div class="hidden">{{ form_rest(form) }}</div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            {% trans %}Upload file{% endtrans %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
