{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title "Unread" %}

{% block content %}
    {% block pager %}
        <div class="results">
            <div class="nb-results">{{ entries.count }} {% trans %}entries{% endtrans %}</div>
                <div class="pagination">
                <a href="#" id="filter">{% trans %}Filter{% endtrans %}</a>
                {% if entries is not empty %}
                    –
                    {% for p in range(1, entries.nbPages) if entries.nbPages > 1 %}
                        <li>
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': p})) }}" class="{{ currentPage == p ? 'current':''}}" >{{ p }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endblock %}

    <div id="filter-form" class="messages info popup-form">
        <form method="get" action="{{ path('all') }}">
            <h2>{% trans %}Filter{% endtrans %}</h2>
            <a href="javascript: void(null);" id="filter-form-close" class="close-button--popup close-button">&times;</a>
            {{ form_rest(form) }}
            <button class="btn waves-effect waves-light" type="submit" id="submit-filter" value="filter">{% trans %}Filter{% endtrans %}</button>
        </form>
    </div>

    {% if entries is empty %}
        <div class="messages warning"><p>{% trans %}No articles found.{% endtrans %}</p></div>
    {% else %}
        {% for entry in entries %}
            <div id="entry-{{ entry.id|e }}" class="entry">
                <h2><a href="{{ path('view', { 'id': entry.id }) }}">{{ entry.title|raw }}</a></h2>
                {% if entry.readingTime > 0 %}
                    <div class="estimatedTime"><span class="tool reading-time">{% trans %}estimated reading time :{% endtrans %} {{ entry.readingTime }} min</span></div>
                {% else %}
                    <div class="estimatedTime"><span class="tool reading-time">{% trans %}estimated reading time :{% endtrans %} <small class="inferieur">&lt;</small> 1 min</span></div>
                {% endif %}

                <ul class="tools links">
                    <li><a title="{% trans %}Toggle mark as read{% endtrans %}" class="tool icon-check icon {% if entry.isArchived == 0 %}archive-off{% else %}archive{% endif %}" href="{{ path('archive_entry', { 'id': entry.id }) }}"><span>{% trans %}Toggle mark as read{% endtrans %}</span></a></li>
                    <li><a title="{% trans %}toggle favorite{% endtrans %}" class="tool icon-star icon {% if entry.isStarred == 0 %}fav-off{% else %}fav{% endif %}" href="{{ path('star_entry', { 'id': entry.id }) }}"><span>{% trans %}toggle favorite{% endtrans %}</span></a></li>
                    <li><a title="{% trans %}delete{% endtrans %}" class="tool delete icon-trash icon" href="{{ path('delete_entry', { 'id': entry.id }) }}"><span>{% trans %}delete{% endtrans %}</span></a></li>
                    <li><a href="{{ entry.url|e }}" target="_blank" title="{% trans %}original{% endtrans %} : {{ entry.title|e }}" class="tool link icon-link icon"><span>{{ entry.domainName }}</span></a></li>
                </ul>
                {% if entry.previewPicture is null %}
                    <p>{{ entry.content|striptags|slice(0, 300) }}&hellip;</p>
                {% else %}
                    <img class="preview" src="{{ entry.previewPicture }}" alt="{{ entry.title|raw }}" />
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
