{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {% if tag is defined and app.user.config.feedToken %}
        <link rel="alternate" type="application/atom+xml" href="{{ path('tag_feed', {'username': app.user.username, 'token': app.user.config.feedToken, 'slug': tag.slug}) }}" />
    {% endif %}
{% endblock %}

{% block title %}
    {% set filter = '' %}
    {% if tag is defined %}
        {% set filter = tag %}
    {% endif %}
    {% if searchTerm is defined and searchTerm is not empty %}
        {% set filter = searchTerm %}
    {% endif %}
    {% include "@WallabagCore/themes/common/Entry/_title.html.twig" with {'filter': filter} %}
{% endblock %}

{% block content %}
    {% set currentRoute = app.request.attributes.get('_route') %}
    {% if currentRoute == 'homepage' %}
        {% set currentRoute = 'unread' %}
    {% endif %}
    {% set listMode = app.user.config.listMode %}
    <div class="results">
        <div class="nb-results">{{ 'entry.list.number_on_the_page'|transchoice(entries.count) }}</div>
        <div class="pagination">
            <a href="{{ path('switch_view_mode') }}"><i class="listMode-btn material-icons md-24">{% if listMode == 0 %}list{% else %}view_module{% endif %}</i></a>
            {% if app.user.config.feedToken %}
                {% include "@WallabagCore/themes/common/Entry/_feed_link.html.twig" %}
            {% endif %}
            {% if currentRoute in ['unread', 'starred', 'archive', 'untagged', 'all'] %}
                <a href="{{ path('random_entry', { 'type': currentRoute }) }}"><i class="btn-clickable material-icons md-24 js-random-action">casino</i></a>
            {% endif %}
            <i class="btn-clickable download-btn material-icons md-24 js-export-action">file_download</i>
            <i class="btn-clickable filter-btn material-icons md-24 js-filters-action">filter_list</i>
            {% if entries.getNbPages > 1 %}
                {{ pagerfanta(entries, 'twitter_bootstrap_translated', {'proximity': 1}) }}
            {% endif %}
        </div>
    </div>

    {% for entry in entries %}
        <div id="entry-{{ entry.id|e }}" class="{% if listMode == 0 %}entry{% else %}listmode entry{% endif %}">
            <h2><a href="{{ path('view', { 'id': entry.id }) }}" title="{{ entry.title|e|raw }}">{{ entry.title | striptags | truncate(80, true, '…') | default('entry.default_title'|trans) | raw }}</a></h2>

            {% set readingTime = entry.readingTime / app.user.config.readingSpeed * 200 %}
            <div class="estimatedTime">
                    <span class="tool reading-time">
            {% if readingTime > 0 %}
                {{ 'entry.list.reading_time_minutes'|trans({'%readingTime%': readingTime|round}) }}
            {% else %}
                {{ 'entry.list.reading_time_less_one_minute'|trans|raw }}
            {% endif %}
                    </span>
                    <span class="tool created-at">
                        <i class="tool icon icon-calendar" title="{{ 'entry.view.created_at'|trans }}">
                            {{ entry.createdAt|date('Y-m-d') }}
                        </i>
                    </span>
            </div>

            <ul class="tools links">
                <li><a href="{{ entry.url|e }}" target="_blank" rel="noopener" title="{{ 'entry.list.original_article'|trans }} : {{ entry.title|e }}"><span>{{ entry.domainName|removeWww }}</span></a></li>
                <li><a title="{{ 'entry.list.toogle_as_read'|trans }}" class="tool icon {% if entry.isArchived == 0 %}archive-off{% else %}archive{% endif %}" href="{{ path('archive_entry', { 'id': entry.id }) }}"><i class="material-icons md-24 vertical-align-middle">check</i><span>{{ 'entry.list.toogle_as_read'|trans }}</span></a></li>
                <li><a title="{{ 'entry.list.toogle_as_star'|trans }}" class="tool icon {% if entry.isStarred == 0 %}fav-off{% else %}fav{% endif %}" href="{{ path('star_entry', { 'id': entry.id }) }}"><i class="material-icons md-24 vertical-align-middle">star_rate</i><span>{{ 'entry.list.toogle_as_star'|trans }}</span></a></li>
                <li><a title="{{ 'entry.list.delete'|trans }}" class="tool icon" onclick="return confirm('{{ 'entry.confirm.delete'|trans|escape('js') }}')" href="{{ path('delete_entry', { 'id': entry.id }) }}"><i class="material-icons md-24 vertical-align-middle">delete</i><span>{{ 'entry.list.delete'|trans }}</span></a></li>
            </ul>
            {% if (entry.previewPicture is null or listMode == 1) %}
                <ul class="card-entry-tags">
                    {% for tag in entry.tags %}
                        <li><a href="{{ path('tag_entries', {'slug': tag.slug}) }}">{{ tag.label }}</a></li>
                    {% endfor %}
                </ul>
                <p {% if listMode == 1 %}class="hide"{% endif %}>{{ entry.content|striptags|slice(0, 300) }}&hellip;</p>
            {% else %}
                <ul class="card-entry-labels">
                {% for tag in entry.tags | slice(0, 3) %}
                    <li><a href="{{ path('tag_entries', {'slug': tag.slug}) }}">{{ tag.label }}</a></li>
                {% endfor %}
                </ul>
                <img class="preview" src="{{ entry.previewPicture }}" alt="{{ entry.title|e|raw }}" />
            {% endif %}
        </div>
    {% endfor %}

    {% if entries.getNbPages > 1 %}
        {{ pagerfanta(entries, 'twitter_bootstrap_translated', {'proximity': 1}) }}
    {% endif %}

    <!-- Export -->
    <aside id="download-form">
    {% set currentTag = null %}
    {% if tag is defined %}
        {% set currentTag = tag %}
    {% endif %}
    {% set exportSearchTerm = null %}
    {% if searchTerm is defined %}
        {% set exportSearchTerm = searchTerm %}
    {% endif %}
    {% set previousRoute = app.request.attributes.get('currentRoute') %}
        <h2>{{ 'entry.list.export_title'|trans }}</h2>
        <a href="javascript: void(null);" id="download-form-close" class="close-button--popup close-button">&times;</a>
        <ul>
            {% if craue_setting('export_epub') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'epub', 'tag' : currentTag, 'search_entry[term]' : exportSearchTerm, 'currentRoute' : previousRoute }) }}">EPUB</a></li>{% endif %}
            {% if craue_setting('export_mobi') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'mobi', 'tag' : currentTag, 'search_entry[term]' : exportSearchTerm, 'currentRoute' : previousRoute  }) }}">MOBI</a></li>{% endif %}
            {% if craue_setting('export_pdf') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'pdf', 'tag' : currentTag, 'search_entry[term]' : exportSearchTerm, 'currentRoute' : previousRoute  }) }}">PDF</a></li>{% endif %}
            {% if craue_setting('export_json') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'json', 'tag' : currentTag, 'search_entry[term]' : exportSearchTerm, 'currentRoute' : previousRoute  }) }}">JSON</a></li>{% endif %}
            {% if craue_setting('export_csv') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'csv', 'tag' : currentTag, 'search_entry[term]' : exportSearchTerm, 'currentRoute' : previousRoute  }) }}">CSV</a></li>{% endif %}
            {% if craue_setting('export_txt') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'txt', 'tag' : currentTag, 'search_entry[term]' : exportSearchTerm, 'currentRoute' : previousRoute  }) }}">TXT</a></li>{% endif %}
            {% if craue_setting('export_xml') %}<li class="bold"><a class="waves-effect" href="{{ path('export_entries', { 'category': currentRoute, 'format': 'xml', 'tag' : currentTag, 'search_entry[term]' : exportSearchTerm, 'currentRoute' : previousRoute  }) }}">XML</a></li>{% endif %}
        </ul>
    </aside>

    <!-- Filter -->
    {% if form is not null %}
    <div id="filters">
        <form method="get" action="{{ path('all') }}">
            <h2>{{ 'entry.filters.title'|trans }}</h2>
            <a href="javascript: void(null);" id="filter-form-close" class="close-button--popup close-button">&times;</a>

            <div id="filter-status" class="filter-group">
                {% if currentRoute != 'untagged' and nbEntriesUntagged != 0 %}
                    <div class="">
                        <a href="{{ path('untagged') }}">{{ 'tag.list.see_untagged_entries'|trans }} ({{nbEntriesUntagged}})</a>
                    </div>
                {% endif %}

                <div class="">
                    <label>{{ 'entry.filters.status_label'|trans }}</label>
                </div>
                <div class="input-field">
                    {{ form_widget(form.isArchived) }}
                    {{ form_label(form.isArchived) }}
                </div>

                <div class="input-field">
                    {{ form_widget(form.isStarred) }}
                    {{ form_label(form.isStarred) }}
                </div>

                <div class="input-field">
                    {{ form_widget(form.isUnread) }}
                    {{ form_label(form.isUnread) }}
                </div>

                <div class="input-field">
                    {{ form_widget(form.previewPicture) }}
                    {{ form_label(form.previewPicture) }}
                </div>

                <div class="input-field">
                    {{ form_widget(form.isPublic) }}
                    {{ form_label(form.isPublic) }}
                </div>
            </div>

            <div id="filter-language" class="filter-group">
                {{ form_label(form.language) }}
                <div class="input-field ">
                    {{ form_widget(form.language) }}
                </div>
            </div>

            <div id="filter-http-status" class="filter-group">
                {{ form_label(form.httpStatus) }}
                <div class="input-field ">
                    {{ form_widget(form.httpStatus) }}
                </div>
            </div>

            <div id="filter-reading-time" class="filter-group">
                <div class="">
                    {{ form_label(form.readingTime) }}
                </div>
                <div class="input-field ">
                    <label for="entry_filter_readingTime_left_number">{{ 'entry.filters.reading_time.from'|trans }}</label>
                    {{ form_widget(form.readingTime.left_number, {'type': 'number'}) }}
                </div>
                <div class="input-field ">
                    <label for="entry_filter_readingTime_right_number">{{ 'entry.filters.reading_time.to'|trans }}</label>
                    {{ form_widget(form.readingTime.right_number, {'type': 'number'}) }}
                </div>
            </div>

            <div id="filter-domain-name" class="filter-group">
                {{ form_label(form.domainName) }}
                <div class="input-field ">
                    {{ form_widget(form.domainName, {'type': 'text', 'attr' : {'placeholder': 'website.com'} }) }}
                </div>
            </div>

            <div id="filter-creation-date" class="filter-group">
                <div class="">
                    {{ form_label(form.createdAt) }}
                </div>
                <div class="input-field ">
                    <label for="entry_filter_createdAt_left_date" class="active">{{ 'entry.filters.created_at.from'|trans }}</label>
                    {{ form_widget(form.createdAt.left_date, {'type': 'date', 'attr': {'class': 'datepicker', 'data-value': form.createdAt.left_date.vars.value} }) }}
                </div>
                <div class="input-field ">
                    <label for="entry_filter_createdAt_right_date" class="active">{{ 'entry.filters.created_at.to'|trans }}</label>
                    {{ form_widget(form.createdAt.right_date, {'type': 'date', 'attr': {'class': 'datepicker', 'data-value': form.createdAt.right_date.vars.value} }) }}
                </div>
            </div>

            <div id="filter-buttons" class="filter-group">
                <div class="">
                    <a href="#!" class="center waves-effect waves-green btn-flat" id="clear_form_filters">{{ 'entry.filters.action.clear'|trans }}</a>
                </div>

                <button class="btn waves-effect waves-light" type="submit" id="submit-filter" value="filter">{{ 'entry.filters.action.filter'|trans }}</button>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}
