{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'entry.page_titles.unread'|trans }}{% endblock %}

{% block content %}
    {% block pager %}
        <div class="results">
            <div class="nb-results">{{ 'entry.list.number_on_the_page'|transchoice(entries.count) }}</div>
                <div class="pagination">
                <a href="#" id="filter">{{ 'entry.filters.title'|trans }}</a>
                {% if entries is not empty %}
                    –
                    {% for p in range(1, entries.nbPages) if entries.nbPages > 1 %}
                        <li>
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': p})) }}" class="{{ currentPage == p ? 'current':''}}" >{{ p }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {% for entry in entries %}
        <div id="entry-{{ entry.id|e }}" class="entry">
            <h2><a href="{{ path('view', { 'id': entry.id }) }}">{{ entry.title|raw }}</a></h2>
            {% if entry.readingTime > 0 %}
                <div class="estimatedTime">
                    <span class="tool reading-time">
                        {{ 'entry.list.reading_time_minutes'|trans({'%readingTime%': entry.readingTime}) }}
                    </span>
                </div>
            {% else %}
                <div class="estimatedTime">
                    <span class="tool reading-time">
                    {{ 'entry.list.reading_time_less_one_minute'|trans|raw }}
                    </span>
                </div>
            {% endif %}

            <ul class="tools links">
                <li><a title="{{ 'entry.list.toogle_as_read'|trans }}" class="tool icon-check icon {% if entry.isArchived == 0 %}archive-off{% else %}archive{% endif %}" href="{{ path('archive_entry', { 'id': entry.id }) }}"><span>{{ 'entry.list.toogle_as_read'|trans }}</span></a></li>
                <li><a title="{{ 'entry.list.toogle_as_star'|trans }}" class="tool icon-star icon {% if entry.isStarred == 0 %}fav-off{% else %}fav{% endif %}" href="{{ path('star_entry', { 'id': entry.id }) }}"><span>{{ 'entry.list.toogle_as_star'|trans }}</span></a></li>
                <li><a title="{{ 'entry.list.delete'|trans }}" class="tool delete icon-trash icon" href="{{ path('delete_entry', { 'id': entry.id }) }}"><span>{{ 'entry.list.delete'|trans }}</span></a></li>
                <li><a href="{{ entry.url|e }}" target="_blank" title="{{ 'entry.list.original_article'|trans }} : {{ entry.title|e }}" class="tool link icon-link icon"><span>{{ entry.domainName|removeWww }}</span></a></li>
            </ul>
            {% if entry.previewPicture is null %}
                <p>{{ entry.content|striptags|slice(0, 300) }}&hellip;</p>
            {% else %}
                <img class="preview" src="{{ entry.previewPicture }}" alt="{{ entry.title|raw }}" />
            {% endif %}
        </div>
    {% endfor %}

    <aside id="filter-form" class="">
        <form method="get" action="{{ path('all') }}">
            <h2>{{ 'entry.filters.title'|trans }}</h2>
            <a href="javascript: void(null);" id="filter-form-close" class="close-button--popup close-button">&times;</a>

            <div id="filter-status" class="filter-group">
                <div class="">
                    <label>{{ 'entry.filters.status_label'|trans }}</label>
                </div>
                <div class="input-field">
                    {{ form_widget(form.isArchived) }}
                    {{ form_label(form.isArchived) }}
                </div>

                <div class="input-field">
                    {{ form_widget(form.isStarred) }}
                    {{ form_label(form.isStarred) }}
                </div>

                <div class="input-field">
                    {{ form_widget(form.previewPicture) }}
                    {{ form_label(form.previewPicture) }}
                </div>
            </div>

            <div id="filter-language" class="filter-group">
                {{ form_label(form.language) }}
                <div class="input-field ">
                    {{ form_widget(form.language) }}
                </div>
            </div>

            <div id="filter-reading-time" class="filter-group">
                <div class="">
                    {{ form_label(form.readingTime) }}
                </div>
                <div class="input-field ">
                    <label for="entry_filter_readingTime_left_number">{{ 'entry.filters.reading_time.from'|trans }}</label>
                    {{ form_widget(form.readingTime.left_number, {'type': 'number'}) }}
                </div>
                <div class="input-field ">
                    <label for="entry_filter_readingTime_right_number">{{ 'entry.filters.reading_time.to'|trans }}</label>
                    {{ form_widget(form.readingTime.right_number, {'type': 'number'}) }}
                </div>
            </div>

            <div id="filter-domain-name" class="filter-group">
                {{ form_label(form.domainName) }}
                <div class="input-field ">
                    {{ form_widget(form.domainName, {'type': 'text', 'attr' : {'placeholder': 'website.com'} }) }}
                </div>
            </div>

            <div id="filter-creation-date" class="filter-group">
                <div class="">
                    {{ form_label(form.createdAt) }}
                </div>
                <div class="input-field ">
                    <label for="entry_filter_createdAt_left_date" class="active">{{ 'entry.filters.created_at.from'|trans }}</label>
                    {{ form_widget(form.createdAt.left_date, {'type': 'date', 'attr': {'class': 'datepicker', 'data-value': form.createdAt.left_date.vars.value} }) }}
                </div>
                <div class="input-field ">
                    <label for="entry_filter_createdAt_right_date" class="active">{{ 'entry.filters.created_at.to'|trans }}</label>
                    {{ form_widget(form.createdAt.right_date, {'type': 'date', 'attr': {'class': 'datepicker', 'data-value': form.createdAt.right_date.vars.value} }) }}
                </div>
            </div>

            <div id="filter-buttons" class="filter-group">
                <div class="">
                    <a href="#!" class="center waves-effect waves-green btn-flat" id="clear_form_filters">{{ 'entry.filters.action.clear'|trans }}</a>
                </div>

                <button class="btn waves-effect waves-light" type="submit" id="submit-filter" value="filter">{{ 'entry.filters.action.filter'|trans }}</button>
            </div>
        </form>
    </aside>

{% endblock %}
