<form name="search" method="GET" action="{{ path('search')}}">
    <h2>{{ 'menu.left.search'|trans }}</h2>
    <a href="javascript: void(null);" id="search-form-close" class="close-button--popup close-button">&times;</a>
    {% if form_errors(form) %}
        <span class="black-text">{{ form_errors(form) }}</span>
    {% endif %}

    {% if form_errors(form.term) %}
        <span class="black-text">{{ form_errors(form.term) }}</span>
    {% endif %}

    <input type="hidden" name="currentRoute" value="{{ currentRoute }}" />

    {{ form_widget(form.term, { 'attr': {'autocomplete': 'off', 'placeholder': 'entry.search.placeholder'} }) }}

    {{ form_rest(form) }}
</form>
