    <article id="item-{{entry.id}}" data-hide="true">
        <h2><a href="{{ path('view_entry', {'id': entry.id}) }}">{{ entry.title }}</a></h2>
        {% set picture = entry.content|getPicture %}
        {% if picture != "" %}
        <figure class="right">
           <img src="{{ picture }}" class="picturepreview thumb round border right" />
        </figure>
        {% endif %}
        <p class="preview">{{ entry.content|striptags|slice(0, 300) }}&hellip;</p>
        <ul class="tools">
            <li>
                {% if entry.status == "read" %}
                    <a id="status-{{entry.id}}" href="{{ path('mark_entry_unread', {'id': entry.id}) }}" data-action="mark_entry_unread" data-entry-id="{{entry.id}}" data-reverse-label="{{ 'mark as read'|trans }}">{{ 'mark as unread'|trans }}</a>
                {% else %}
                    <a id="status-{{entry.id}}" href="{{ path('mark_entry_read', {'id': entry.id}) }}" data-action="mark_entry_read" data-entry-id="{{entry.id}}" data-reverse-label="{{ 'mark as unread'|trans }}">{{ 'mark as read'|trans }}</a>
                {% endif %}
            </li>
            <li>{% if entry.bookmark == 1 %}<a href="{{ path('unstar_entry', {'id': entry.id}) }}">{{ 'unstar'|trans }}</a>{% else %}<a href="{{ path('star_entry', {'id': entry.id}) }}">{{ 'star'|trans }}</a>{% endif %}</li>
            <li><a href="{{ path('remove_entry', {'id': entry.id}) }}">{{ 'delete'|trans }}</a></li>
            <li><a href="{{ entry.url }}" class="external" title="{{ 'view original'|trans }}">{{ entry.url | getDomain }}</a></li>
            <li>{{ entry.content | getReadingTime }} {{'min read'|trans}} </li>
        </ul>
    </article>