{% extends layout %}

{% block menu %}

<nav role="navigation">
    <ul>
        <li><a href="/">{{ 'unread'|trans }}</a></li>
        <li>{{ 'starred'|trans }}</li>
        <li><a href="/archive">{{ 'archive'|trans }}</a></li>
        <li><a href="{{ path('add') }}">{{ 'entry.add'|trans }}</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}

<h2>{{ 'entry.add'|trans }}</h2>

<form action="#" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" />
</form>
<p><a href="/">back to home</a></p>
{% endblock %}