{% extends layout %}

{% block content %}
{% set count = entries|length %}

{% if entries is empty %}
<div class="messages warning"><p>{{ 'No link available here!'|trans }}</p></div>
{% else %}
    {{ 'msg.results'|transchoice(count) }}
    {% for entry in entries %}
    <div>
        <a href="index.php/view/{{entry.id}}">{{ entry.title }}</a>

        <p>{{ entry.content|striptags|slice(0, 300) }}...</p>

    </div>
    {% endfor %}
    <p><a href="index.php/add">{{ 'entry.add'|trans }}</a></p>

{% endif %}

{% endblock %}
