{% extends layout %}

{% block content %}

{% if entries is empty %}
<div class="messages warning"><p>{{ 'No link available here!'|trans }}</p></div>
{% else %}

    {% for entry in entries %}
        {{ entry.id }} - {{ entry.title }}

        <p>{{ entry.content|striptags|slice(0, 300) }}...</p>

    {% endfor %}
    <p><a href="index.php/add">{{ 'poche a new link'|trans }}</a></p>

{% endif %}

{% endblock %}
