<html>
    <head>
        <title>{{ entry.title|e|raw }}</title>
        <meta property="og:title" content="{{ entry.title|e|raw }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        {% set picturePath = app.request.schemeAndHttpHost ~ asset('bundles/wallabagcore/themes/_global/img/logo-other_themes.png') %}
        {% if entry.previewPicture is not null %}
            {% set picturePath = entry.previewPicture %}
        {% endif %}
        <meta property="og:image" content="{{ picturePath }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:image" content="{{ picturePath }}" />
        <meta name="twitter:site" content="@wallabagapp" />
        <meta name="twitter:title" content="{{ entry.title|e|raw }}" />
        <meta name="twitter:description" content="{{ entry.content|striptags|slice(0, 300)|raw }}&hellip;" />
        {% if app.debug %}
            <script src="{{ asset('bundles/wallabagcore/public.dev.js') }}"></script>
        {% else %}
            <link rel="stylesheet" href="{{ asset('bundles/wallabagcore/public.css') }}">
        {% endif %}

    </head>
    <body>
        <header>
            <h1>{{ entry.title|e|raw }}</h1>
            <div><a href="{{ entry.url|e }}" target="_blank" title="{{ 'entry.view.original_article'|trans }} : {{ entry.title|e|raw }}" class="tool">{{ entry.domainName|removeWww }}</a></div>
            <div>{{ "entry.public.shared_by_wallabag"|trans({'%wallabag_instance%': url('homepage'), '%username%': entry.user.username})|raw }}.</div>

            {% if entry.previewPicture is not null %}
                <div><img class="preview" src="{{ entry.previewPicture }}" alt="{{ entry.title|striptags|e('html_attr') }}" /></div>
            {% endif %}
        </header>
        <article>
            {{ entry.content | raw }}
        </article>
    </body>
</html>
