{% extends "layout.twig" %}
{% block title %}{% trans "home" %}{% endblock %}

{% block content %}
        <div class="w600p">
        	<div class="backhome">
        		<a href="./" title="{% trans "back to home" %}">&larr;</a>
        	</div>
            <div class="tools">
                <ul>
                    <li><a title="{% trans "toggle mark as read" %}" class="tool archive {% if entry.is_read == 0 %}archive-off{% endif %}" onclick="toggle_archive(this, {{ entry.id|e }})"><span></span></a></li>
                    <li><a href="#" id="themeswitch">{% trans "dark" %}</a></li>
                    <li><a title="{% trans "toggle favorite" %}" class="tool fav {% if entry.is_fav == 0 %}fav-off{% endif %}" onclick="toggle_favorite(this, {{ entry.id|e }})"><span></span></a></li>
                    <li><form method="post" style="display: inline;" action="index.php"><input type="hidden" name="token" id="token" value="{{ token }}" /><input type="hidden" id="view" name="view" value="index" /><input type="hidden" id="action" name="action" value="delete" /><input type="hidden" id="id" name="id" value="{{ entry.id|e }}" /><input type="submit" class="delete" title="{% trans "toggle delete" %}" /></form></li>
                    <li><a href="./?logout" title="{% trans "logout" %}">{% trans "logout" %}</a></li>
                </ul>
            </div>
            <header class="mbm">
                <h1><a href="{{ entry.url|e }}">{{ entry.title|e }}</a></h1>
                <div class="vieworiginal txtright small"><a href="{{ entry.url|e }}" target="_blank" title="{% trans "original" %} : {{ entry.title|e }}">{% trans "view original" %}</a></div>
            </header>
            <article>
                <div id="readityourselfcontent">
                    {{ content|striptags }}
                </div>
            </article>
            <div class="vieworiginal txtright small"><a href="{$url}" target="_blank" title="{% trans "original" %} : {{ entry.title|e }}">{% trans "view original" %}</a></div>
            <div class="backhome">
                <a href="./" title="{% trans "back to home" %}">&larr;</a>
                <a href="#" title="{% trans "back to top" %}">&uarr;</a>
            </div>
            <div class="support">
                {% trans "this article appears wrong?" %} <a href="https://github.com/inthepoche/poche/issues/new">{% trans "create an issue" %}</a> {% trans "or" %} <a href="mailto:support@inthepoche.com">{% trans "contact us by mail" %}</a>
            </div>
        </div>
{% endblock %}

{% block js %}
            <script type="text/javascript" src="./tpl/js/jquery-1.9.1.min.js"></script>
            <script type="text/javascript" src="./tpl/js/poche.js"></script>
{% endblock %}