{% extends "layout.twig" %}

{% block title %}{% trans "config" %}{% endblock %}
{% block menu %}
{% include '_menu.twig' %}
{% endblock %}
{% block content %}
            <h2>{% trans "Poching links" %}</h2>
            <p>{% trans "There are several ways to poche a link::" %} (<a href="http://doc.inthepoche.com/" title="{% trans "read the documentation" %}">?</a>)</p>
            <ul>
                <li>Firefox: <a href="https://addons.mozilla.org/firefox/addon/poche/" title="download the firefox extension">{% trans "download the extension" %}</a></li>
                <li>Chrome: <a href="http://doc.inthepoche.com/doku.php?id=users:chrome_extension" title="download the chrome extension">{% trans "download the extension" %}</a></li>
                <li>Android: <a href="https://f-droid.org/repository/browse/?fdid=fr.gaulupeau.apps.Poche" title="download the application">{% trans "via f-droid" %}</a> {% trans " or " %} <a href="https://play.google.com/store/apps/details?id=fr.gaulupeau.apps.InThePoche" title="download the application">{% trans "via Google Play" %}</a></li>
                <li>Windows Phone: <a href="https://www.windowsphone.com/en-us/store/app/poche/334de2f0-51b5-4826-8549-a3d805a37e83" title="download the window phone application">{% trans "download the application" %}</a></li>
                <li>
                    <form method="get" action="index.php">
                        <label class="addurl" for="plainurl">{% trans "By filling this field" %}:</label>
                        <input required placeholder="example.com/article" class="addurl" id="plainurl" name="plainurl" type="url" />
                        <input type="submit" value="{% trans "poche it!" %}" />
                    </form>
                </li>
                <li>{% trans "Bookmarklet: drag & drop this link to your bookmarks bar" %} <a id="bookmarklet" ondragend="this.click();" title="i am a bookmarklet, use me !" href="javascript:if(top['bookmarklet-url@inthepoche.com']){top['bookmarklet-url@inthepoche.com'];}else{(function(){var%20url%20=%20location.href%20||%20url;window.open('{{ poche_url }}?action=add&url='%20+%20btoa(url),'_self');})();void(0);}">{% trans "poche it!" %}</a></li>
            </ul>

            <h2>{% trans "Updating poche" %}</h2>
            <ul>
                <li>{% trans "Installed version" %} : <strong>{{ constant('POCHE') }}</strong></li>
                <li>{% trans "Latest stable version" %} : {{ prod }}. {% if compare_prod == -1 %}<strong><a href="http://inthepoche.com/">{% trans "A more recent stable version is available." %}</a></strong>{% else %}{% trans "You are up to date." %}{% endif %}</li>
                {% if constant('DEBUG_POCHE') == 1 %}<li>{% trans "latest dev version" %} : {{ dev }}. {% if compare_dev == -1 %}<strong><a href="http://inthepoche.com/">{% trans "a more recent development version is available." %}</a></strong>{% else %}{% trans "you are up to date." %}{% endif %}</li>{% endif %}
            </ul>

            <h2>{% trans "Feeds" %}</h2>
            {% if token == '' %}
                <p>{% trans "The token is empty, you have to generate it to use feeds. Click <a href='?feed&amp;action=generate'>here to generate it</a>." %}</p>
            {% else %}
            <ul>
                <li><a href="?feed&amp;type=home&amp;user_id={{ user_id }}&amp;token={{ token }}" target="_blank">{% trans "unread feed" %}</a></li>
                <li><a href="?feed&amp;type=fav&amp;user_id={{ user_id }}&amp;token={{ token }}" target="_blank">{% trans "favorites feed" %}</a></li>
                <li><a href="?feed&amp;type=archive&amp;user_id={{ user_id }}&amp;token={{ token }}" target="_blank">{% trans "archive feed" %}</a></li>
            </ul>
            <p>{% trans "You can regenerate your token: <a href='?feed&amp;action=generate'>generate!</a>." %}</p>
            {% endif %}
            
            <h2>{% trans "Change your theme" %}</h2>
            <form method="post" action="?updatetheme" name="changethemeform">
                <fieldset class="w500p">
                    <div class="row">
                        <label class="col w150p" for="theme">{% trans "Theme:" %}</label>
                        <select class="col" id="theme" name="theme">
                            {% for theme in themes %}
                            <option value="{{ theme.name }}" {{ theme.current ? 'selected' : '' }}>{{ theme.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row mts txtcenter">
                        <button class="bouton" type="submit" tabindex="4">{% trans "Update" %}</button>
                    </div>
                </fieldset>
                <input type="hidden" name="returnurl" value="{{ referer }}">
                <input type="hidden" name="token" value="{{ token }}">
            </form>

            <h2>{% trans "Change your language" %}</h2>
            <form method="post" action="?updatelanguage" name="changelanguageform">
                <fieldset class="w500p">
                    <div class="row">
                        <label class="col w150p" for="language">{% trans "Language:" %}</label>
                        <select class="col" id="language" name="language">
                            {% for language in languages %}
                            <option value="{{ language.name }}" {{ language.current ? 'selected' : '' }}>{{ language.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row mts txtcenter">
                        <button class="bouton" type="submit" tabindex="4">{% trans "Update" %}</button>
                    </div>
                </fieldset>
                <input type="hidden" name="returnurl" value="{{ referer }}">
                <input type="hidden" name="token" value="{{ token }}">
            </form>

            {% if http_auth == 0 %}
            <h2>{% trans "Change your password" %}</h2>
            <form method="post" action="?config" name="loginform">
                <fieldset class="w500p">
                    <div class="row">
                        <label class="col w150p" for="password">{% trans "New password:" %}</label>
                        <input class="col" type="password" id="password" name="password" placeholder="{% trans "Password" %}" tabindex="2">
                    </div>
                    <div class="row">
                        <label class="col w150p" for="password_repeat">{% trans "Repeat your new password:" %}</label>
                        <input class="col" type="password" id="password_repeat" name="password_repeat" placeholder="{% trans "Password" %}" tabindex="3">
                    </div>
                    <div class="row mts txtcenter">
                        <button class="bouton" type="submit" tabindex="4">{% trans "Update" %}</button>
                    </div>
                </fieldset>
                <input type="hidden" name="returnurl" value="{{ referer }}">
                <input type="hidden" name="token" value="{{ token }}">
            </form>
            {% endif %}

            <h2>{% trans "Import" %}</h2>
            <p>{% trans "Please execute the import script locally, it can take a very long time." %}</p>
            <p>{% trans "More info in the official docs:" %} <a href="http://doc.inthepoche.com/">inthepoche.com</a></p>
            <ul>
                <li><a href="./?import&amp;from=pocket">{% trans "import from Pocket" %}</a> {{ '(you must have a %s file on your server)'|trans|format(constant('POCKET_FILE')) }}</li>
            <li><a href="./?import&amp;from=readability">{% trans "import from Readability" %}</a> {{ '(you must have a %s file on your server)'|trans|format(constant('READABILITY_FILE')) }}</li>
            <li><a href="./?import&amp;from=instapaper">{% trans "import from Instapaper" %}</a> {{ '(you must have a %s file on your server)'|trans|format(constant('INSTAPAPER_FILE')) }}</li>
            </ul>

            <h2>{% trans "Export your poche data" %}</h2>
            {% if constant('STORAGE') == 'sqlite' %}
            <p><a href="?download" target="_blank">{% trans "Click here" %}</a> {% trans "to download your database." %}</p>{% endif %}
            <p><a href="?export" target="_blank">{% trans "Click here" %}</a> {% trans "to export your poche data." %}</p>
{% endblock %}
