{% extends "layout.twig" %}

{% block title %}{% trans "config" %}{% endblock %}
{% block menu %}
{% include '_menu.twig' %}
{% endblock %}
{% block content %}
            <h2>{% trans "Saving articles" %}</h2>
            <p>{% trans "There are several ways to save an article:" %} {% trans "(<a href=\"http://doc.wallabag.org/en/User_documentation/Save_your_first_article\" target=\"_blank\" title=\"Documentation\">?</a>)" %}</p>
            <p>
                <form method="get" action="index.php">
                    <label class="addurl" for="config_plainurl">{% trans "By filling this field" %}:</label><br>
                    <input required placeholder="example.com/article" class="addurl" id="config_plainurl" name="plainurl" type="url" />
                    <input type="submit" value="{% trans "bag it!" %}" />
                </form>
            </p>
            <h3>Browser Plugins</h3>
            <ul>
                <li><a href="https://addons.mozilla.org/firefox/addon/wallabag/" target="_blank">{% trans "Firefox Add-On" %}</a></li>
                <li><a href="https://chrome.google.com/webstore/detail/wallabag/bepdcjnnkglfjehplaogpoonpffbdcdj" target="_blank">{% trans "Chrome Extension" %}</a></li>
            </ul>
            <h3>Mobile Apps</h3>
            <ul>
                <li>Android: <a href="https://f-droid.org/app/fr.gaulupeau.apps.InThePoche" target="_blank">{% trans "via F-Droid" %}</a> {% trans " or " %} <a href="https://play.google.com/store/apps/details?id=fr.gaulupeau.apps.InThePoche" target="_blank">{% trans "via Google Play" %}</a></li>
                <li>iOS: <a href="https://itunes.apple.com/app/wallabag/id828331015?mt=8" target="_blank">{% trans "download the application" %}</a></li>
                <li>Windows Phone: <a href="http://www.windowsphone.com/en-US/store/app/wallabag/d5226cf1-f422-4e00-996c-88e9c5233332" target="_blank">{% trans "download the application" %}</a></li>
            </ul>
                <h3>{% trans "Bookmarklet" %}</h3>
                <p>
                {% trans "Drag &amp; drop this link to your bookmarks bar:" %} <a id="bookmarklet" ondragend="this.click();" href="javascript:if(top['bookmarklet-url@wallabag.org']){top['bookmarklet-url@wallabag.org'];}else{(function(){var%20url%20=%20location.href%20||%20url;window.open('{{ poche_url }}?action=add&autoclose=true&url='%20+%20btoa(url),'_blank');})();void(0);}">{% trans "bag it!" %}</a>
                </p>

            <h2>{% trans "Feeds" %}</h2>
            {% if token == '' %}
                <p>{% trans "Your feed token is currently empty and must first be generated to enable feeds. Click <a href='?feed&amp;action=generate'>here to generate it</a>." %}</p>
            {% else %}
            <ul>
                <li><a href="?feed&amp;type=home&amp;user_id={{ user_id }}&amp;token={{ token }}" target="_blank">{% trans "Unread feed" %}</a></li>
                <li><a href="?feed&amp;type=fav&amp;user_id={{ user_id }}&amp;token={{ token }}" target="_blank">{% trans "Favorites feed" %}</a></li>
                <li><a href="?feed&amp;type=archive&amp;user_id={{ user_id }}&amp;token={{ token }}" target="_blank">{% trans "Archive feed" %}</a></li>
            </ul>
            <p class="more-info">
              {% trans "Your token:" %} <strong>{{token}}</strong><br>
              {% trans "Your user id:" %} <strong>{{user_id}}</strong><br>
              {% trans "You can regenerate your token: <a href='?feed&amp;action=generate'>generate!</a>." %}
            </p>
            {% endif %}
            
            <h2>{% trans "Change your theme" %}</h2>
            <form method="post" action="?updatetheme" name="changethemeform">
                <fieldset class="w500p inline">
                    <div class="row">
                        <label class="col w150p" for="theme">{% trans "Theme:" %}</label>
                        <select class="col" id="theme" name="theme">
                            {% for key, theme in themes %}
                            <option value="{{ key }}" {{ theme.current ? 'selected' : '' }}>{{ theme.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row mts txtcenter">
                        <button class="bouton" type="submit" tabindex="4">{% trans "Update" %}</button>
                    </div>
                </fieldset>
                <input type="hidden" name="returnurl" value="{{ referer }}">
                <input type="hidden" name="token" value="{{ token }}">
            </form>

            <h2>{% trans "Change your language" %}</h2>
            <form method="post" action="?updatelanguage" name="changelanguageform">
                <fieldset class="w500p inline">
                    <div class="row">
                        <label class="col w150p" for="language">{% trans "Language:" %}</label>
                        <select class="col" id="language" name="language">
                            {% for language in languages %}
                            <option value="{{ language.value }}" {{ language.current ? 'selected' : '' }}>{{ language.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row mts txtcenter">
                        <button class="bouton" type="submit" tabindex="4">{% trans "Update" %}</button>
                    </div>
                </fieldset>
                <input type="hidden" name="returnurl" value="{{ referer }}">
                <input type="hidden" name="token" value="{{ token }}">
            </form>

            <h2><a name="import"></a>{% trans "Import" %}</h2>
            <p>{% trans "You can import your Pocket, Readability, Instapaper, Wallabag or any data in appropriate json or html format." %}</p>
            <p>{% trans "Please select export file on your computer and press \"Import\" button below. Wallabag will parse your file, insert all URLs and start fetching of articles if required." %}</p>
            <form method="post" action="?import" name="uploadfile" enctype="multipart/form-data">
                <fieldset class="w500p">
                    <div class="row">
                        <label class="col w150p" for="file">{% trans "File:" %}</label>
                        <input class="col" type="file" id="file" name="file" tabindex="4" required="required">
                    </div>
                    <div class="row mts txtcenter">
                        <button class="bouton" type="submit" tabindex="4">{% trans "Import" %}</button>
                    </div>
                </fieldset>
            </form>
            <p><a href="?import">{% trans "You can click here to fetch content for articles with no content." %}</a></p>
            <p class="more-info">{% trans "Fetching process is controlled by two constants in your config file: IMPORT_LIMIT (how many articles are fetched at once) and IMPORT_DELAY (delay between fetch of next batch of articles)." %}</p>

            <h2>{% trans "Export your wallabag data" %}</h2>
            <p><a href="?export" target="_blank">{% trans "Export JSON" %}</a><br>
            <span class="more-info">Data will be exported in a single JSON file.</span></p>

            <h2>{% trans "Fancy an E-Book ?" %}</h2>
            <p>{% trans "Click to get all your articles in one ebook :" %}
            <ul>
            <li><a href="./?epub&amp;method=all" title="Generate ePub file">ePub 3</a></li>
            <li><a href="./?mobi&amp;method=all" title="Generate Mobi file">Mobi</a></li>
            <li><a href="./?pdf&amp;method=all" title="Generate PDF file">PDF</a></li>
            </ul>
            </p>

            <span class="more-info">{% trans "This can <b>take a while</b> and can <b>even fail</b> if you have too many articles, depending on your server configuration." %}</span></p>

            <h2><a name="cache"></a>{% trans "Cache" %}</h2>
            <p><a href="?empty-cache">{% trans "Delete Cache" %}</a><br>
            <span class="more-info">Deleting the cache may help with display or other problems.</span></p>

            {% if http_auth == 0 %}
            <h2>{% trans "Change your password" %}</h2>
            <form method="post" action="?config" name="loginform">
                <fieldset class="w500p">
                    <div class="row">
                        <label class="col w150p" for="password">{% trans "New password:" %}</label>
                        <input class="col" type="password" id="password" name="password" placeholder="{% trans "Password" %}" tabindex="2">
                    </div>
                    <div class="row">
                        <label class="col w150p" for="password_repeat">{% trans "Repeat your new password:" %}</label>
                        <input class="col" type="password" id="password_repeat" name="password_repeat" placeholder="{% trans "Password" %}" tabindex="3">
                    </div>
                    <div class="row mts txtcenter">
                        <button class="bouton" type="submit" tabindex="4">{% trans "Update" %}</button>
                    </div>
                </fieldset>
                <input type="hidden" name="returnurl" value="{{ referer }}">
                <input type="hidden" name="token" value="{{ token }}">
            </form>
            {% endif %}

            <h2>{% trans 'Add user' %}</h2>
            <form method="post" action="?newuser">
                <fieldset class="w500p">
                <div class="row">
                    <label class="col w150p" for="newusername">{% trans 'Login for new user' %}</label>
                    <input class="col" type="text" id="newusername" name="newusername" placeholder="{% trans 'Login' %}" required>
                </div>
                <div class="row">
                    <label class="col w150p" for="password4newuser">{% trans "Password for new user" %}</label>
                    <input class="col" type="password" id="password4newuser" name="password4newuser" placeholder="{% trans 'Password' %}" required>
                </div>
                <div class="row">
                    <label class="col w150p" for="newuseremail">{% trans 'Email for new user (not required)' %}</label>
                    <input class="col" type="email" id="newuseremail" name="newuseremail" placeholder="{% trans 'Email' %}">
                </div>
                <div class="row mts txtcenter">
                    <button type="submit">{% trans "Add user" %}</button>
                </div>
                </fieldset>
            </form>

            <h2>{% trans "Delete account" %}</h2>
            {% if not only_user %}<form method="post" action="?deluser">
            <p>{% trans "You can delete your account by entering your password and validating." %}<br /><b>{% trans "Be careful, data will be erased forever (that is a very long time)." %}</b></p>
            <fieldset class="w500p">
                <div class="row">
                    <label class="col w150p" for="password4deletinguser">{% trans "Type here your password" %}</label>
                    <input class="col" type="password" id="password4deletinguser" name="password4deletinguser" placeholder="{% trans "Password" %}">
                </div>
            <div class="row mts txtcenter">
                <button type="submit">{% trans "Delete account" %}</button>
            </div>
            </form>
            {% else %}<p>{% trans "You are the only user, you cannot delete your own account." %}</p>
            <p>{% trans "To completely remove wallabag, delete the wallabag folder on your web server (and eventual databases)." %}</p>{% endif %}

            <h2>{% trans "Upgrading wallabag" %}</h2>
            <ul>
                <li>{% trans "Installed version" %}: <strong>{{ constant('POCHE') }}</strong></li>
                <li>{% trans "Latest stable version" %}: {{ prod }}. {% if compare_prod == -1 %}<strong><a href="http://wallabag.org/">{% trans "A more recent stable version is available." %}</a></strong>{% else %}{% trans "You are up to date." %}{% endif %} ({% trans "Last check:" %} {{ check_time_prod }})</li>
                {% if constant('DEBUG_POCHE') == 1 %}<li>{% trans "Latest dev version" %}: {{ dev }}. {% if compare_dev == -1 %}<strong><a href="http://wallabag.org/">{% trans "A more recent development version is available." %}</a></strong>{% else %}{% trans "You are up to date." %}{% endif %} ({% trans "Last check:" %} {{ check_time_dev }}){% endif %}</li>
            </ul>
            <p class="more-info">{% trans "You can clear cache to check the latest release." %}</p>

{% endblock %}
