{% extends "layout.twig" %}
{% block title %}edit tags{% endblock %}
{% block menu %}
{% include '_menu.twig' %}
{% endblock %}
{% block content %}
{% if tags is empty %}
no tags
{% endif %}
<ul>
{% for tag in tags %}<li>{{ tag.value }} <a href="./?action=remove_tag&amp;tag_id={{ tag.id }}&amp;id={{ entry_id }}">✘</a></li>{% endfor %}
</ul>
<form method="post" action="./?action=add_tag">
    <label for="value">New tags: </label><input type="text" id="value" name="value" required="required" />
    <p>{% trans "you can type several tags, separated by comma" %}</p>
    <input type="hidden" name="entry_id" value="{{ entry_id }}" />
    <input type="submit" value="add tags" />
</form>
<a href="./?view=view&id={{ entry_id }}">{% trans "back to the article" %}</a>
{% endblock %}