{% extends "layout.twig" %}
{% block title %}
{% if view == 'fav' %}
{% trans "favoris" %}
{% elseif view == 'archive' %}
{% trans "archive" %}
{% else %}
{% trans "unread" %}
{% endif %}
{% endblock %}
{% block menu %}
{% include '_menu.twig' %}
{% endblock %}
{% block precontent %}

{% include '_sorting.twig' %}
{% endblock %}
{% block content %}

						{% if includeImport %}
								{% include '_import.twig' %}
						{% endif %}

            {% if tag %}
                <h3>{% trans "Tag" %}: <b>{{ tag.value }}</b></h3>
            {% endif %}

            {% if entries is empty %}
            <div class="messages warning"><p>{% trans "No articles found." %}</p></div>
            {% else %}
                {% block pager %}
                    {% if nb_results > 1 %}
                <div class="results">
                    <div class="nb-results">{{ nb_results }} {% trans "results" %}{% if search_term is defined %}{% trans " found for « " %} {{ search_term }} »{% endif %}</div>
                        {{ page_links | raw }}
                </div>
                    {% elseif nb_results == 1 %}
                        {% if search_term is defined %}
                     <div class="results">
                        <div class="nb-results">{% trans "Only one result found for " %} « {{ search_term }} »</div>
                     </div>
                        {% endif %}
                    {% endif %}
                {% endblock %}
                {% for entry in entries %}
            <div id="entry-{{ entry.id|e }}" class="entrie">
                <h2><a href="index.php?view=view&amp;id={{ entry.id|e }}">{{ entry.title|raw }}</a></h2>
                <ul class="tools">
                    <li><a title="{% trans "Toggle mark as read" %}" class="tool {% if entry.is_read == 0 %}archive-off{% else %}archive{% endif %}" href="./?action=toggle_archive&amp;id={{ entry.id|e }}"><span>{% trans "Toggle mark as read" %}</span></a></li>
                    <li><a title="{% trans "toggle favorite" %}" class="tool {% if entry.is_fav == 0 %}fav-off{% else %}fav{% endif %}" href="./?action=toggle_fav&amp;id={{ entry.id|e }}"><span>{% trans "toggle favorite" %}</span></a></li>
                    <li><a title="{% trans "delete" %}" class="tool delete" href="./?action=delete&amp;id={{ entry.id|e }}"><span>{% trans "delete" %}</span></a></li>
                    <li><a href="{{ entry.url|e }}" target="_blank" title="{% trans "original" %} : {{ entry.title|e }}" class="tool link"><span>{{ entry.url | e | getDomain }}</span></a></li>
                    <li><a target="_blank" title="{% trans "estimated reading time:" %} {{ entry.content| getReadingTime }} min" class="reading-time"><span>{{ entry.content| getReadingTime }} min</span></a></li>
                </ul>
                <p>{{ entry.content|striptags|slice(0, 300) }}...</p>
            </div>
                {% endfor %}

            {{ block('pager') }}
            
            {% if view == 'home' %}{% if nb_results > 1 %}<a title="{% trans "mark all the entries as read" %}"  href="./?action=archive_all">{% trans "mark all the entries as read" %}</a>{% endif %}{% endif %}
            
            {% if tag %}<a title="{% trans "Download the articles from this tag in an epub" %}" href="./?epub&amp;method=tag&amp;tag={{ tag.value }}">{% trans "Download the articles from this tag in an epub" %}</a>
            {% elseif search_term is defined %}<a title="{% trans "Download the articles from this search in an epub" %}" href="./?epub&amp;method=search&amp;search={{ search_term }}">{% trans "Download the articles from this search in an epub" %}</a>
            {% else %}<a title="{% trans "Download the articles from this category in an epub" %}" href="./?epub&amp;method=category&amp;category={{ view }}">{% trans "Download the articles from this category in an epub" %}</a>{% endif %}
            
            {% endif %}
{% endblock %}
