{% extends "layout.twig" %}
{% block title %}tag {% endblock %}
{% block menu %}
{% include '_menu.twig' %}
{% endblock %}
{% block content %}
    <h3>{% trans "Tag" %} {{ tag.value }}</h3>
    {% if entries is empty %}
    <div class="messages warning"><p>{% trans "No link available here!" %}</p></div>
    {% else %}
        {% block pager %}
            {% if nb_results > 1 %}
        <div class="results">
            <div class="nb-results">{{ nb_results }} {% trans "results" %}</div>
                {{ page_links | raw }}
        </div>
            {% endif %}
        {% endblock %}
        {% for entry in entries %}
    <div id="entry-{{ entry.id|e }}" class="entrie">
        <h2><a href="index.php?view=view&amp;id={{ entry.id|e }}">{{ entry.title|raw }}</a></h2>
        <ul class="tools">
            <li><a title="{% trans "toggle mark as read" %}" class="tool {% if entry.is_read == 0 %}archive-off{% else %}archive{% endif %}" href="./?action=toggle_archive&amp;id={{ entry.id|e }}"><span>{% trans "toggle mark as read" %}</span></a></li>
            <li><a title="{% trans "toggle favorite" %}" class="tool {% if entry.is_fav == 0 %}fav-off{% else %}fav{% endif %}" href="./?action=toggle_fav&amp;id={{ entry.id|e }}"><span>{% trans "toggle favorite" %}</span></a></li>
            <li><a title="{% trans "delete" %}" class="tool delete" href="./?action=delete&amp;id={{ entry.id|e }}"><span>{% trans "delete" %}</span></a></li>
            <li><a href="{{ entry.url|e }}" target="_blank" title="{% trans "original" %} : {{ entry.title|e }}" class="tool link"><span>{{ entry.url | e | getDomain }}</span></a></li>
            <li><a target="_blank" title="{% trans "estimated reading time:" %} {{ entry.content| getReadingTime }} min" class="reading-time"><span>{{ entry.content| getReadingTime }} min</span></a></li>
        </ul>
        <p>{{ entry.content|striptags|slice(0, 300) }}...</p>
    </div>
        {% endfor %}
    {% endif %}
{% endblock %}