{% extends "layout.twig" %}
{% block title %}{{ entry.title|raw }} ({{ entry.url | e | getDomain }}){% endblock %}
{% block content %}
				{% include '_highlight.twig' %}
        {% include '_pocheit-form.twig' %}
        <div id="article_toolbar">
            <ul>
                <li><a href="./" title="{% trans "Return home" %}" class="tool back"><span>{% trans "Return home" %}</span></a></li>
                <li><a href="#top" title="{% trans "Back to top" %}" class="tool top"><span>{% trans "Back to top" %}</span></a></li>
                <li><a href="{{ entry.url|e }}" target="_blank" title="{% trans "original" %} : {{ entry.title|e }}" class="tool link"><span>{{ entry.url | e | getDomain }}</span></a></li>
                <li><a title="{% trans "Mark as read" %}" class="tool {% if entry.is_read == 0 %}archive-off{% else %}archive{% endif %}" href="javascript: void(null);" id="markAsRead"><span>{% trans "Toggle mark as read" %}</span></a></li>
                <li><a title="{% trans "Favorite" %}" class="tool {% if entry.is_fav == 0 %}fav-off{% else %}fav{% endif %}" href="javascript: void(null);" id="setFav"><span>{% trans "Toggle favorite" %}</span></a></li>
                <li><a title="{% trans "Delete" %}" class="tool delete" href="./?action=delete&amp;id={{ entry.id|e }}"><span>{% trans "Delete" %}</span></a></li>
                {% if constant('SHARE_TWITTER') == 1 %}<li><a href="https://twitter.com/home?status={{entry.title|url_encode}}%20{{ entry.url|url_encode }}%20via%20@wallabagapp" target="_blank" class="tool twitter" title="{% trans "Tweet" %}"><span>{% trans "Tweet" %}</span></a></li>{% endif %}
                {% if constant('SHARE_MAIL') == 1 %}<li><a href="mailto:?subject={{ entry.title }}&amp;body={{ content|striptags|slice(0, 700) }}%2E%2E%2E%0A%0A{% trans "Read the rest at" %} {{ entry.url|url_encode }}%20via%20@wallabagapp" class="tool email" title="{% trans "Email" %}"><span>{% trans "Email" %}</span></a></li>{% endif %}
                {% if constant('SHARE_SHAARLI') == 1 %}<li><a href="{{ constant('SHAARLI_URL') }}/index.php?post={{ entry.url|url_encode }}&amp;title={{ entry.title|url_encode }}" target="_blank" class="tool shaarli" title="{% trans "shaarli" %}"><span>{% trans "shaarli" %}</span></a></li>{% endif %}
                {% if constant('SHARE_EVERNOTE') == 1 %}<li><a href="https://www.evernote.com/clip.action?url={{ entry.url|url_encode }}&amp;title={{ entry.title|url_encode }}" target="_blank" class="tool evernote" title="{% trans "evernote" %}"><span>{% trans "evernote" %}</span></a></li>{% endif %}
                {% if constant('SHARE_DIASPORA') == 1 %}<li><a href="{{ constant('DIASPORA_URL') }}/bookmarklet?url={{ entry.url|url_encode }}&title={{ entry.title|url_encode }}&notes=&v=1&noui=1&jump=doclose" target="_blank" class="tool diaspora" title="{% trans "diaspora" %}"><span>{% trans "diaspora" %}</span></a></li>{% endif %}
                {% if constant('FLATTR') == 1 %}{% if flattr.status == constant('FLATTRABLE') %}<li><a href="http://flattr.com/submit/auto?url={{ entry.url }}" class="tool flattr" target="_blank" title="{% trans "flattr" %}"><span>{% trans "flattr" %}</span></a></li>{% elseif flattr.status == constant('FLATTRED') %}<li><a href="{{ flattr.flattrItemURL }}" class="tool flattr" target="_blank" title="{% trans "flattr" %}"><span>{% trans "flattr" %}</span>{{ flattr.numFlattrs }}</a></li>{% endif %}{% endif %}
                {% if constant('CARROT') == 1 %}<li><a href="https://secure.carrot.org/GiveAndGetBack.do?url={{ entry.url|url_encode }}&title={{ entry.title|url_encode }}" class="tool carrot icon" target="_blank" title="{% trans "carrot" %}"><span>{% trans "carrot" %}</span></a></li>{% endif %}
                {% if constant('SHOW_PRINTLINK') == 1 %}<li><a title="{% trans "Print" %}" class="tool print" href="javascript: window.print();"><span>{% trans "Print" %}</span></a></li>{% endif %}
                {% if constant('RELOAD_ARTICLE') == 1 %}<li><a class="tool reload" href="./?action=reload_article&amp;id={{ entry.id|e }}" title="{% trans "Reload article" %}"><span>{% trans "Reload article" %}</span></a></li>{% endif %}}
                {% if constant('EPUB') == 1 %}<li><a href="./?epub&amp;method=id&amp;value={{ entry.id|e }}" title="Generate ePub file">EPUB</a></li>{% endif %}
                {% if constant('MOBI') == 1 %}<li><a href="./?mobi&amp;method=id&amp;value={{ entry.id|e }}" title="Generate Mobi file">MOBI</a></li>{% endif %}
                {% if constant('PDF') == 1 %}<li><a href="./?pdf&amp;method=id&amp;value={{ entry.id|e }}" title="Generate PDF file">PDF</a></li>{% endif %}
                <li><a href="mailto:hello@wallabag.org?subject=Wrong%20display%20in%20wallabag&amp;body={{ entry.url|url_encode }}" title="{% trans "Does this article appear wrong?" %}" class="tool bad-display"><span>{% trans "Does this article appear wrong?" %}</span></a></li>
                {% if constant('SHOW_READPERCENT') == 1 %}<li><div id="readLeftPercent">0%</div></li>{% endif %}
            </ul>
        </div>
        <div id="article">
            <header class="mbm">
                <h1>{{ entry.title|raw }}</h1>
            </header>
            {% block tags %}
              <aside class="tags">
                  {% trans "tags:" %} {% for tag in tags %}<a href="./?view=tag&amp;id={{ tag.id }}">{{ tag.value }}</a> {% endfor %}<a href="./?view=edit-tags&amp;id={{ entry.id|e }}" title="{% trans "Edit tags" %}">✎</a>
              </aside>
            {% endblock %}
            <article>
                {{ content | raw }}
            </article>
            {{ block('tags') }}
        </div>
        <script src="{{ poche_url }}themes/_global/js/restoreScroll.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
        
        		// toggle read property of current article
        		$('#markAsRead').click(function(){
        			$("body").css("cursor", "wait");
					    $.ajax( { url: './?action=toggle_archive&id={{ entry.id|e }}' }).done(
					    function( data ) {
				        if ( data == '1' ) {
				        	if ( $('#markAsRead').hasClass("archive-off") ) {
				        		$('#markAsRead').removeClass("archive-off");	
				        		$('#markAsRead').addClass("archive");
				        	}
				        	else {
				        		$('#markAsRead').removeClass("archive");	
				        		$('#markAsRead').addClass("archive-off");
				        	}
				        }
				        else {
				          alert('Error! Pls check if you are logged in.');
				        }
				      });
					    $("body").css("cursor", "auto");
					  });
					  
					  // toggle favorite property of current article
        		$('#setFav').click(function(){
        			$("body").css("cursor", "wait");
					    $.ajax( { url: './?action=toggle_fav&id={{ entry.id|e }}' }).done(
					    function( data ) {
				        if ( data == '1' ) {
				        	if ( $('#setFav').hasClass("fav-off") ) {
				        		$('#setFav').removeClass("fav-off");	
				        		$('#setFav').addClass("fav");
				        	}
				        	else {
				        		$('#setFav').removeClass("fav");	
				        		$('#setFav').addClass("fav-off");
				        	}
				        }
				        else {
				          alert('Error! Pls check if you are logged in.');
				        }
				      });
					    $("body").css("cursor", "auto");
					  });
        
 						// set percent of read on startup       
        		if ( $(document).height() <= $(window).innerHeight() ) {
        		  pp = 100;
        		}
        		else {
        			pp = 0;
        		}
        		$('#readLeftPercent').text( pp + '%' );
        		

            $(window).scroll(function(e){
                var scrollTop = $(window).scrollTop();
                var docHeight = $(document).height();
                var scrollPercent = (scrollTop) / (docHeight);
                var scrollPercentRounded = Math.round(scrollPercent*100)/100;
                savePercent({{ entry.id|e }}, scrollPercentRounded);
                
                // change percent of read on scroll
                pp = Math.round(scrollTop * 100 / ( docHeight - $(window).innerHeight() ));
                $('#readLeftPercent').text( pp + '%' );
            });

            retrievePercent({{ entry.id|e }});

            $(window).resize(function(){
                retrievePercent({{ entry.id|e }});
            });

            // Hide useless "back to top" link when there is no scrollbar
            if ($("body").height() <= $(window).height()) {
                $('#article_toolbar .tool.top').parent().hide();
            }
        });
        </script>
{% endblock %}
