{% extends "layout.html.twig" %}

{% block title %}{{ 'menu.left.internal_settings'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card-panel settings">
                {{ form_start(form, {'attr': {'class': 'craue_config_settings_modify'}}) }}
                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="div_tabs col s12">
                            <ul class="tabs" data-controller="materialize--tabs">
                                {% for section in sections|craue_sortSections %}
                                    <li class="tab col s12 m6 l3"><a href="#set-{{ section }}">{{ section|trans({}, 'CraueConfigBundle') }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        {% for section in sections|craue_sortSections %}
                            <div id="set-{{ section }}" class="col s12">
                                {% for setting in form.settings %}
                                    {% if setting.vars.value.section == section %}
                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ form_row(setting.value, {
                                                    'label': setting.vars.value.name|trans({}, 'CraueConfigBundle'),
                                                }) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action">
                    {{ 'modify_settings'|trans({}, 'CraueConfigBundle') }}
                </button>

                {{ form_widget(form._token) }}
            </div>
        </div>
    </div>
{% endblock %}
